<div class="container">
  <div class="image-container">
    <img src="assets/img/hero.jpg" alt="image" />
  </div>
  <div class="content">
    <div class="form-container">
      <div class="label-container">
        <h2 class="mas-typo_headline-1">Hey!</h2>
        <h3 class="mas-typo_subtitle-1">Login to your Bouygues account</h3>
      </div>
      <form>
        <mas-label [infoIcon]="true">Enter your Email address</mas-label>
        <mas-text-input class="email-input" placeholder="exemple@bouygues-construction.com"></mas-text-input>
      </form>
      <button MasButton variant="accent" class="submit-button" size="small">Next</button>
    </div>
    <span class="mas-typo_body-3 login-info_text"
      >Legal text lorem ipsum dolor sit amet <ins>consectetur</ins> adipiscing elit ut <ins>labore</ins> et dolore magna
      aliqua</span
    >
  </div>
</div>
