@font-face {
    font-family: "development";
    src: url(".//development.ttf?e7af6e87462bd0a0e43ee5cd40653f65") format("truetype"),
url(".//development.woff?e7af6e87462bd0a0e43ee5cd40653f65") format("woff"),
url(".//development.woff2?e7af6e87462bd0a0e43ee5cd40653f65") format("woff2");
}

i[class^="mas-"]:before, i[class*=" mas-"]:before {
    font-family: development !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mas-brackets-angle-outlined:before {
    content: "\f101";
}
.mas-brackets-curly-outlined:before {
    content: "\f102";
}
.mas-brackets-round-outlined:before {
    content: "\f103";
}
.mas-brackets-square-outlined:before {
    content: "\f104";
}
.mas-bug-beetle-outlined:before {
    content: "\f105";
}
.mas-bug-droid-outlined:before {
    content: "\f106";
}
.mas-bug-outlined:before {
    content: "\f107";
}
.mas-code-block-outlined:before {
    content: "\f108";
}
.mas-code-outlined:before {
    content: "\f109";
}
.mas-code-simple-outlined:before {
    content: "\f10a";
}
.mas-cpu-outlined:before {
    content: "\f10b";
}
.mas-database-outlined:before {
    content: "\f10c";
}
.mas-git-branch-outlined:before {
    content: "\f10d";
}
.mas-git-commit-outlined:before {
    content: "\f10e";
}
.mas-git-diff-outlined:before {
    content: "\f10f";
}
.mas-git-fork-outlined:before {
    content: "\f110";
}
.mas-git-merge-outlined:before {
    content: "\f111";
}
.mas-git-pull-request-outlined:before {
    content: "\f112";
}
.mas-magnet-outlined:before {
    content: "\f113";
}
.mas-magnet-straight-outlined:before {
    content: "\f114";
}
.mas-robot-outlined:before {
    content: "\f115";
}
.mas-terminal-outlined:before {
    content: "\f116";
}
.mas-terminal-window-outlined:before {
    content: "\f117";
}
.mas-tree-structure-outlined:before {
    content: "\f118";
}
.mas-webhooks-logo-outlined:before {
    content: "\f119";
}
