@import '@masoni/css-design-tokens/dist/index.css';
.mas-checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  align-items: center;
  position: relative;
}
.mas-checkbox--large {
  margin-top: 5.5px;
}
.mas-checkbox--large > .mas-checkbox_touch-target {
  width: var(--mas-web-component-checkbox-sizing-large-container-width);
  height: var(--mas-web-component-checkbox-sizing-large-container-height);
  border-radius: 
    var(--mas-web-component-checkbox-border-radius-container-top-left) 
    var(--mas-web-component-checkbox-border-radius-container-top-right)
    var(--mas-web-component-checkbox-border-radius-container-bottom-right)
    var(--mas-web-component-checkbox-border-radius-container-bottom-left);
}
.mas-checkbox--large > .mas-checkbox_label {
  font: var(--mas-web-component-checkbox-typography-large-label);
  margin-inline-start: var(--mas-web-component-checkbox-spacing-large-gap);
}
.mas-checkbox--large > .mas-checkbox-box {
  border-width: var(--mas-web-component-checkbox-border-width-large-container);
  margin-block-start: 0px;
  justify-content: center;
  align-items: center;
  width: var(--mas-web-component-checkbox-sizing-large-container-width);
  height: var(--mas-web-component-checkbox-sizing-large-container-height);
  border-radius: 
    var(--mas-web-component-checkbox-border-radius-container-top-left) 
    var(--mas-web-component-checkbox-border-radius-container-top-right)
    var(--mas-web-component-checkbox-border-radius-container-bottom-right)
    var(--mas-web-component-checkbox-border-radius-container-bottom-left);
    border-color: var(--mas-web-component-checkbox-color-border-uncheck-default);
    transition: var(--mas-transition_focus-visible);
}

.mas-checkbox_touch-target {
  position: absolute;
  z-index: 1;
  width: var(--mas-web-component-checkbox-sizing-small-container-width);
  height: var(--mas-web-component-checkbox-sizing-small-container-height);
  border-radius: 
    var(--mas-web-component-checkbox-border-radius-container-top-left) 
    var(--mas-web-component-checkbox-border-radius-container-top-right)
    var(--mas-web-component-checkbox-border-radius-container-bottom-right)
    var(--mas-web-component-checkbox-border-radius-container-bottom-left);
}
.hidden-accessible {
  position: absolute;
  opacity: 0;
}
.mas-checkbox_label {
  font: var(--mas-web-component-checkbox-typography-small-label);
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: var(--mas-web-component-checkbox-color-label-default);
  margin-inline-start: var(--mas-web-component-checkbox-spacing-small-gap);
}
.mas-checkbox-box {
  display: flex;
  box-sizing: border-box;
  border-width: var(--mas-web-component-checkbox-border-width-small-container);
  border-style: solid;
  margin-block-start: 0px;
  justify-content: center;
  align-items: center;
  width: var(--mas-web-component-checkbox-sizing-small-container-width);
  height: var(--mas-web-component-checkbox-sizing-small-container-height);
  border-radius: 
    var(--mas-web-component-checkbox-border-radius-container-top-left) 
    var(--mas-web-component-checkbox-border-radius-container-top-right)
    var(--mas-web-component-checkbox-border-radius-container-bottom-right)
    var(--mas-web-component-checkbox-border-radius-container-bottom-left);
  border-color: var(--mas-web-component-checkbox-color-border-uncheck-default);
  transition: var(--mas-transition_focus-visible);
}
.hidden-accessible:not(:checked, :disabled) + .mas-checkbox_touch-target:hover {
  box-shadow: 0 0 0 4px
    var(--mas-web-component-checkbox-color-halo-uncheck-hover);
}
.hidden-accessible:checked:not(:disabled) + .mas-checkbox_touch-target:hover {
  box-shadow: 0 0 0 4px
    var(--mas-web-component-checkbox-color-halo-check-hover);
}
.hidden-accessible:checked:not(:disabled) + .mas-checkbox_touch-target:active {
  box-shadow: 0 0 0 4px
    var(--mas-web-component-checkbox-color-halo-check-active);
}
.hidden-accessible:not(:checked, :disabled) + .mas-checkbox_touch-target:active {
  box-shadow: 0 0 0 4px
    var(--mas-web-component-checkbox-color-halo-uncheck-active);
}
.hidden-accessible:indeterminate:not(:disabled) + .mas-checkbox_touch-target:hover {
  box-shadow: 0 0 0 4px
    var(--mas-web-component-checkbox-color-halo-check-hover);
}
.hidden-accessible:indeterminate:not(:disabled) + .mas-checkbox_touch-target:active {
  box-shadow: 0 0 0 4px
    var(--mas-web-component-checkbox-color-halo-check-active);
}
.mas-checkbox-box--active {
  background-color: var(--mas-web-component-checkbox-color-container-check);
  border-color: var(--mas-web-component-checkbox-color-border-check-default) !important;
}
.mas-checkbox--disabled {
  opacity: var(--mas-web-component-checkbox-opacity-disabled);
  cursor: not-allowed;
}
