:root, * {
  /** Amber */
  --mas-primitive-color_amber100: #fceecf;
  --mas-primitive-color_amber200: #ffdf99;
  --mas-primitive-color_amber300: #ffcd61;
  --mas-primitive-color_amber400: #ffbb29;
  --mas-primitive-color_amber500: #f1a500;
  --mas-primitive-color_amber600: #c78100;
  --mas-primitive-color_amber700: #a36500;
  --mas-primitive-color_amber800: #7a4700;
  --mas-primitive-color_amber900: #522d00;
  /** Orange */
  --mas-primitive-color_orage100: #fbded0;
  --mas-primitive-color_orage200: #f8bda0;
  --mas-primitive-color_orage300: #f49d71;
  --mas-primitive-color_orage400: #f07c42;
  --mas-primitive-color_orage500: #e65912;
  --mas-primitive-color_orage600: #c74d10;
  --mas-primitive-color_orage700: #a6400d;
  --mas-primitive-color_orage800: #84330a;
  --mas-primitive-color_orage900: #632608;
  /** Blue */
  --mas-primitive-color_blue100: #c8e9f9;
  --mas-primitive-color_blue200: #92d5f6;
  --mas-primitive-color_blue300: #55c1f6;
  --mas-primitive-color_blue400: #15adf9;
  --mas-primitive-color_blue500: #008fd6;
  --mas-primitive-color_blue600: #007ab7;
  --mas-primitive-color_blue700: #006699;
  --mas-primitive-color_blue800: #005885;
  --mas-primitive-color_blue900: #08415e;
  /** Teal */
  --mas-primitive-color_teal100: #cbf6f5;
  --mas-primitive-color_teal200: #a5f3f2;
  --mas-primitive-color_teal300: #6feceb;
  --mas-primitive-color_teal400: #14e0de;
  --mas-primitive-color_teal500: #00c7c5;
  --mas-primitive-color_teal600: #009e9c;
  --mas-primitive-color_teal700: #008583;
  --mas-primitive-color_teal800: #006b6a;
  --mas-primitive-color_teal900: #005251;
  /** Green */
  --mas-primitive-color_green100: #e8f4cd;
  --mas-primitive-color_green200: #d1ed97;
  --mas-primitive-color_green300: #bae363;
  --mas-primitive-color_green400: #a3da2f;
  --mas-primitive-color_green500: #80ad1f;
  --mas-primitive-color_green600: #6c931a;
  --mas-primitive-color_green700: #597915;
  --mas-primitive-color_green800: #465f11;
  --mas-primitive-color_green900: #32430e;
  /** Purple  */
  --mas-primitive-color_purple100: #f2e7f3;
  --mas-primitive-color_purple200: #e0c4e3;
  --mas-primitive-color_purple300: #cc9fd1;
  --mas-primitive-color_purple400: #b879be;
  --mas-primitive-color_purple500: #a656ae;
  --mas-primitive-color_purple600: #904997;
  --mas-primitive-color_purple700: #793d7f;
  --mas-primitive-color_purple800: #623267;
  --mas-primitive-color_purple900: #4f2853;
  /** Red */
  --mas-primitive-color_red100: #fcd9df;
  --mas-primitive-color_red200: #f9afbb;
  --mas-primitive-color_red300: #f58497;
  --mas-primitive-color_red400: #f25973;
  --mas-primitive-color_red500: #ee2f50;
  --mas-primitive-color_red600: #d21e3c;
  --mas-primitive-color_red700: #aa1830;
  --mas-primitive-color_red800: #811226;
  --mas-primitive-color_red900: #590d1a;
  /** Grey  */
  --mas-primitive-color_grey100: #f9f9fa;
  --mas-primitive-color_grey200: #ededf0;
  --mas-primitive-color_grey300: #d7d7db;
  --mas-primitive-color_grey400: #b1b1b3;
  --mas-primitive-color_grey500: #737373;
  --mas-primitive-color_grey600: #4a4a4f;
  --mas-primitive-color_grey700: #38383d;
  --mas-primitive-color_grey800: #2a2a2e;
  --mas-primitive-color_grey900: #0c0c0d;
  /** White */
  --mas-primitive-color_white: #ffffff;
  /** Black */
  --mas-primitive-color_black: #000000;
}
