:root, * {
    --mas-radius_0: 0px; 
    --mas-radius_05: 2px; 
    --mas-radius_1: 4px; 
    --mas-radius_2: 8px; 
    --mas-radius_3: 12px; 
    --mas-radius_4: 16px; 
    --mas-radius_5: 20px; 
    --mas-radius_6: 24px; 
    --mas-radius_7: 28px; 
    --mas-radius_8: 32px; 
    --mas-radius_full: 999px; 
}