/* x y blur spread color */
:root {
  --mas-shadow_100: 0px 1px 1px 0px rgba(115, 115, 115, 0.25);
  --mas-shadow_200: 0px 2px 2px 0px rgba(115, 115, 115, 0.25);
  --mas-shadow_300: 0px 3px 3px 0px rgba(115, 115, 115, 0.25);
  --mas-shadow_400: 0px 4px 4px 0px rgba(115, 115, 115, 0.25);
}
