@import '@masoni/css-design-tokens/dist/index.css';

.mas-error {
  position: relative;
  color: var(--mas-primitive-color_red600);
  block-size: 20px;
  margin-block-start: 8px;
  display: flex;
  align-items: center;
}
.mas-warningcircle-filled{
  position: relative;
  color: var(--mas-primitive-color_red600);
  block-size: 16px;
  inline-size: 16px;
  margin-inline-end: 4px;
}

.mas-helper{
  position: relative;
  content: '';
  -webkit-mask-size: cover;
  mask-size: cover;
  display: inline-block;
  color: var(--mas-semantic-color_text-tiertiary);
  block-size: 20px;
  margin-block-start: 8px;
}