@import '@masoni/css-design-tokens/dist/index.css';
.mas-divider {
  .horizontal {
    width: inherit;
    border-bottom: var(--mas-web-component-divider-border-width-line) solid var(--mas-web-component-divider-color-border);
  }
  .vertical {
    border-left: var(--mas-web-component-divider-border-width-line) solid var(--mas-web-component-divider-color-border);
    height: 100%;
  }
}
