@font-face {
    font-family: "system-and-device";
    src: url(".//system-and-device.ttf?0be925f53dab7069b0caab6904de2ead") format("truetype"),
url(".//system-and-device.woff?0be925f53dab7069b0caab6904de2ead") format("woff"),
url(".//system-and-device.woff2?0be925f53dab7069b0caab6904de2ead") format("woff2");
}

i[class^="mas-"]:before, i[class*=" mas-"]:before {
    font-family: system-and-device !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mas-app-window-outlined:before {
    content: "\f101";
}
.mas-backspace-outlined:before {
    content: "\f102";
}
.mas-battery-charging-outlined:before {
    content: "\f103";
}
.mas-battery-charging-vertical-outlined:before {
    content: "\f104";
}
.mas-battery-empty-outlined:before {
    content: "\f105";
}
.mas-battery-full-outlined:before {
    content: "\f106";
}
.mas-battery-high-outlined:before {
    content: "\f107";
}
.mas-battery-low-outlined:before {
    content: "\f108";
}
.mas-battery-medium-outlined:before {
    content: "\f109";
}
.mas-battery-plus-outlined:before {
    content: "\f10a";
}
.mas-battery-plus-vertical-outlined:before {
    content: "\f10b";
}
.mas-battery-vertical-empty-outlined:before {
    content: "\f10c";
}
.mas-battery-vertical-full-outlined:before {
    content: "\f10d";
}
.mas-battery-vertical-high-outlined:before {
    content: "\f10e";
}
.mas-battery-vertical-low-outlined:before {
    content: "\f10f";
}
.mas-battery-vertical-medium-outlined:before {
    content: "\f110";
}
.mas-battery-warning-outlined:before {
    content: "\f111";
}
.mas-battery-warning-vertical-outlined:before {
    content: "\f112";
}
.mas-bell-outlined:before {
    content: "\f113";
}
.mas-bell-ringing-outlined:before {
    content: "\f114";
}
.mas-bell-simple-outlined:before {
    content: "\f115";
}
.mas-bell-simple-ringing-outlined:before {
    content: "\f116";
}
.mas-bell-simple-slash-outlined:before {
    content: "\f117";
}
.mas-bell-simple-z-outlined:before {
    content: "\f118";
}
.mas-bell-slash-outlined:before {
    content: "\f119";
}
.mas-bell-z-outlined:before {
    content: "\f11a";
}
.mas-bluetooth-connected-outlined:before {
    content: "\f11b";
}
.mas-bluetooth-outlined:before {
    content: "\f11c";
}
.mas-bluetooth-slash-outlined:before {
    content: "\f11d";
}
.mas-bluetooth-x-outlined:before {
    content: "\f11e";
}
.mas-browser-outlined:before {
    content: "\f11f";
}
.mas-browsers-outlined:before {
    content: "\f120";
}
.mas-cell-signal-full-outlined:before {
    content: "\f121";
}
.mas-cell-signal-high-outlined:before {
    content: "\f122";
}
.mas-cell-signal-low-outlined:before {
    content: "\f123";
}
.mas-cell-signal-medium-outlined:before {
    content: "\f124";
}
.mas-cell-signal-none-outlined:before {
    content: "\f125";
}
.mas-cell-signal-slash-outlined:before {
    content: "\f126";
}
.mas-cell-signal-x-outlined:before {
    content: "\f127";
}
.mas-check-circle-outlined:before {
    content: "\f128";
}
.mas-check-fat-outlined:before {
    content: "\f129";
}
.mas-check-outlined:before {
    content: "\f12a";
}
.mas-check-square-offset-outlined:before {
    content: "\f12b";
}
.mas-check-square-outlined:before {
    content: "\f12c";
}
.mas-checks-outlined:before {
    content: "\f12d";
}
.mas-circuitry-outlined:before {
    content: "\f12e";
}
.mas-cloud-arrow-down-outlined:before {
    content: "\f12f";
}
.mas-cloud-arrow-up-outlined:before {
    content: "\f130";
}
.mas-cloud-check-outlined:before {
    content: "\f131";
}
.mas-cloud-slash-outlined:before {
    content: "\f132";
}
.mas-cloud-warning-outlined:before {
    content: "\f133";
}
.mas-cloud-x-outlined:before {
    content: "\f134";
}
.mas-command-outlined:before {
    content: "\f135";
}
.mas-computer-tower-outlined:before {
    content: "\f136";
}
.mas-control-outlined:before {
    content: "\f137";
}
.mas-cursor-click-outlined:before {
    content: "\f138";
}
.mas-cursor-outlined:before {
    content: "\f139";
}
.mas-desktop-outlined:before {
    content: "\f13a";
}
.mas-desktop-tower-outlined:before {
    content: "\f13b";
}
.mas-device-mobile-camera-outlined:before {
    content: "\f13c";
}
.mas-device-mobile-outlined:before {
    content: "\f13d";
}
.mas-device-mobile-speaker-outlined:before {
    content: "\f13e";
}
.mas-device-tablet-camera-outlined:before {
    content: "\f13f";
}
.mas-device-tablet-outlined:before {
    content: "\f140";
}
.mas-device-tablet-speaker-outlined:before {
    content: "\f141";
}
.mas-devices-outlined:before {
    content: "\f142";
}
.mas-dot-outline-outlined:before {
    content: "\f143";
}
.mas-dot-outlined:before {
    content: "\f144";
}
.mas-dots-nine-outlined:before {
    content: "\f145";
}
.mas-dots-six-outlined:before {
    content: "\f146";
}
.mas-dots-six-vertical-outlined:before {
    content: "\f147";
}
.mas-dots-three-circle-outlined:before {
    content: "\f148";
}
.mas-dots-three-circle-vertical-outlined:before {
    content: "\f149";
}
.mas-dots-three-outline-outlined:before {
    content: "\f14a";
}
.mas-dots-three-outline-vertical-outlined:before {
    content: "\f14b";
}
.mas-dots-three-outlined:before {
    content: "\f14c";
}
.mas-dots-three-vertical-outlined:before {
    content: "\f14d";
}
.mas-download-outlined:before {
    content: "\f14e";
}
.mas-download-simple-outlined:before {
    content: "\f14f";
}
.mas-flashlight-outlined:before {
    content: "\f150";
}
.mas-gauge-outlined:before {
    content: "\f151";
}
.mas-gear-outlined:before {
    content: "\f152";
}
.mas-gear-six-outlined:before {
    content: "\f153";
}
.mas-hand-swipe-left-outlined:before {
    content: "\f154";
}
.mas-hand-swipe-right-outlined:before {
    content: "\f155";
}
.mas-hand-tap-outlined:before {
    content: "\f156";
}
.mas-hard-drive-outlined:before {
    content: "\f157";
}
.mas-hard-drives-outlined:before {
    content: "\f158";
}
.mas-key-return-outlined:before {
    content: "\f159";
}
.mas-keyboard-outlined:before {
    content: "\f15a";
}
.mas-laptop-outlined:before {
    content: "\f15b";
}
.mas-lightbulb-filament-outlined:before {
    content: "\f15c";
}
.mas-lightbulb-outlined:before {
    content: "\f15d";
}
.mas-lightning-a-outlined:before {
    content: "\f15e";
}
.mas-lightning-outlined:before {
    content: "\f15f";
}
.mas-lightning-slash-outlined:before {
    content: "\f160";
}
.mas-link-break-outlined:before {
    content: "\f161";
}
.mas-link-outlined:before {
    content: "\f162";
}
.mas-link-simple-break-outlined:before {
    content: "\f163";
}
.mas-link-simple-horizontal-break-outlined:before {
    content: "\f164";
}
.mas-link-simple-horizontal-outlined:before {
    content: "\f165";
}
.mas-link-simple-outlined:before {
    content: "\f166";
}
.mas-list-magnifying-glass-outlined:before {
    content: "\f167";
}
.mas-magnifying-glass-minus-outlined:before {
    content: "\f168";
}
.mas-magnifying-glass-outlined:before {
    content: "\f169";
}
.mas-magnifying-glass-plus-outlined:before {
    content: "\f16a";
}
.mas-monitor-outlined:before {
    content: "\f16b";
}
.mas-monitor-play-outlined:before {
    content: "\f16c";
}
.mas-mouse-outlined:before {
    content: "\f16d";
}
.mas-mouse-simple-outlined:before {
    content: "\f16e";
}
.mas-notification-outlined:before {
    content: "\f16f";
}
.mas-nut-outlined:before {
    content: "\f170";
}
.mas-option-outlined:before {
    content: "\f171";
}
.mas-plug-charging-outlined:before {
    content: "\f172";
}
.mas-plug-outlined:before {
    content: "\f173";
}
.mas-plugs-connected-outlined:before {
    content: "\f174";
}
.mas-plugs-outlined:before {
    content: "\f175";
}
.mas-power-outlined:before {
    content: "\f176";
}
.mas-qr-code-outlined:before {
    content: "\f177";
}
.mas-radio-button-outlined:before {
    content: "\f178";
}
.mas-scan-outlined:before {
    content: "\f179";
}
.mas-sign-in-outlined:before {
    content: "\f17a";
}
.mas-sign-out-outlined:before {
    content: "\f17b";
}
.mas-sim-card-outlined:before {
    content: "\f17c";
}
.mas-spinner-gap-outlined:before {
    content: "\f17d";
}
.mas-spinner-outlined:before {
    content: "\f17e";
}
.mas-swap-outlined:before {
    content: "\f17f";
}
.mas-tabs-outlined:before {
    content: "\f180";
}
.mas-toggle-left-outlined:before {
    content: "\f181";
}
.mas-toggle-right-outlined:before {
    content: "\f182";
}
.mas-upload-outlined:before {
    content: "\f183";
}
.mas-upload-simple-outlined:before {
    content: "\f184";
}
.mas-usb-outlined:before {
    content: "\f185";
}
.mas-vibrate-outlined:before {
    content: "\f186";
}
.mas-wifi-high-outlined:before {
    content: "\f187";
}
.mas-wifi-low-outlined:before {
    content: "\f188";
}
.mas-wifi-medium-outlined:before {
    content: "\f189";
}
.mas-wifi-none-outlined:before {
    content: "\f18a";
}
.mas-wifi-slash-outlined:before {
    content: "\f18b";
}
.mas-wifi-x-outlined:before {
    content: "\f18c";
}
