<mas-navigation-bar
  type="product"
  productName="Design system sample app"
  [showAccountLayer]="true"
  avatar="assets/img/hero.jpg"
></mas-navigation-bar>
<div class="sample-body">
  <mas-navigation-drawer>
    <mas-navigation-drawer-section heading="Page exemple">
      <mas-navigation-item label="Login" routerLink="/login"></mas-navigation-item>
      <mas-navigation-item label="Form" routerLink="/form"></mas-navigation-item>
      <mas-navigation-item label="Setting" routerLink="/setting"></mas-navigation-item>
      <mas-navigation-item label="Sample" routerLink="#"></mas-navigation-item>
      <mas-navigation-item label="Sample" routerLink="#"></mas-navigation-item>
    </mas-navigation-drawer-section>
    <mas-navigation-drawer-section heading="Page exemple">
      <mas-navigation-item label="info"></mas-navigation-item>
      <mas-navigation-item label="Global hub"></mas-navigation-item>
    </mas-navigation-drawer-section>
  </mas-navigation-drawer>
  <main class="main" role="main">
    <router-outlet></router-outlet>
  </main>
</div>
