.navigation-drawer {
    display: flex;
    padding: 4px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}
.navigation-item {
    display: flex;
    padding: 8;
    align-items: center;
}