:host {

  display: flex;
  flex-direction: column;
  .sample-body {
    height: calc(100vh - 65px);
    display: flex;
    padding-top: 63px;
   .mas-navigation-drawer {
      top: 64px;
      height: calc(100vh - 65px);
    }
    .main {
      height: calc(100vh - 64px);
      width: calc(100vw - 280px);
      margin-left: 280px;
    }
  }
  mas-navigation-bar {
    box-sizing: border-box;
    z-index: 3;
  }
}
.section-title {
  display: flex;
  padding: 8px;
  align-items: center;
  user-select: none;
}
