<mas-navigation-bar type="product" productName="Design System"></mas-navigation-bar>
<div class="sample-body">
  <!-- navigation drawer -->
  <div class="navigation-drawer">
    <span class="navigation-item" routerLink="/login"><a>Login</a></span>
    <span class="navigation-item"><a routerLink="#">Sample</a></span>
    <span class="navigation-item"><a routerLink="#">Sample</a></span>
    <span class="navigation-item"><a routerLink="#">Sample</a></span>
    <span class="navigation-item"><a routerLink="#">Sample</a></span>
    <mas-divider></mas-divider>
    <span class="navigation-item"><a routerLink="#">Global hub</a></span>
  </div>
  <!--  navigation drawer -->
  <main class="main" role="main">
    <router-outlet></router-outlet>
  </main>
</div>
