@font-face {
    font-family: "arrows";
    src: url("../../fonts/filled/arrows/arrows.ttf?51b43d197c918b5c986dae91e4197c46") format("truetype"),
url("../../fonts/filled/arrows/arrows.woff?51b43d197c918b5c986dae91e4197c46") format("woff"),
url("../../fonts/filled/arrows/arrows.woff2?51b43d197c918b5c986dae91e4197c46") format("woff2");
}

i[class^="mas-"]:before, i[class*=" mas-"]:before {
    font-family: arrows !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mas-0:before {
    content: "\[object Object]";
}
.mas-1:before {
    content: "\[object Object]";
}
.mas-2:before {
    content: "\[object Object]";
}
.mas-3:before {
    content: "\[object Object]";
}
.mas-4:before {
    content: "\[object Object]";
}
.mas-5:before {
    content: "\[object Object]";
}
.mas-6:before {
    content: "\[object Object]";
}
.mas-7:before {
    content: "\[object Object]";
}
.mas-8:before {
    content: "\[object Object]";
}
.mas-9:before {
    content: "\[object Object]";
}
.mas-10:before {
    content: "\[object Object]";
}
.mas-11:before {
    content: "\[object Object]";
}
.mas-12:before {
    content: "\[object Object]";
}
.mas-13:before {
    content: "\[object Object]";
}
.mas-14:before {
    content: "\[object Object]";
}
.mas-15:before {
    content: "\[object Object]";
}
.mas-16:before {
    content: "\[object Object]";
}
.mas-17:before {
    content: "\[object Object]";
}
.mas-arrow-arc-left-filled:before {
    content: "\f101";
}
.mas-arrow-arc-right-filled:before {
    content: "\f102";
}
.mas-arrow-bend-double-up-left-filled:before {
    content: "\f103";
}
.mas-arrow-bend-double-up-right-filled:before {
    content: "\f104";
}
.mas-arrow-bend-down-left-filled:before {
    content: "\f105";
}
.mas-arrow-bend-down-right-filled:before {
    content: "\f106";
}
.mas-arrow-bend-left-down-filled:before {
    content: "\f107";
}
.mas-arrow-bend-left-up-filled:before {
    content: "\f108";
}
.mas-arrow-bend-right-down-filled:before {
    content: "\f109";
}
.mas-arrow-bend-right-up-filled:before {
    content: "\f10a";
}
.mas-arrow-bend-up-left-filled:before {
    content: "\f10b";
}
.mas-arrow-bend-up-right-filled:before {
    content: "\f10c";
}
.mas-arrow-circle-down-filled:before {
    content: "\f10d";
}
.mas-arrow-circle-down-left-filled:before {
    content: "\f10e";
}
.mas-arrow-circle-down-right-filled:before {
    content: "\f10f";
}
.mas-arrow-circle-left-filled:before {
    content: "\f110";
}
.mas-arrow-circle-right-filled:before {
    content: "\f111";
}
.mas-arrow-circle-up-filled:before {
    content: "\f112";
}
.mas-arrow-circle-up-left-filled:before {
    content: "\f113";
}
.mas-arrow-circle-up-right-filled:before {
    content: "\f114";
}
.mas-arrow-clockwise-filled:before {
    content: "\f115";
}
.mas-arrow-counter-clockwise-filled:before {
    content: "\f116";
}
.mas-arrow-down-filled:before {
    content: "\f117";
}
.mas-arrow-down-left-filled:before {
    content: "\f118";
}
.mas-arrow-down-right-filled:before {
    content: "\f119";
}
.mas-arrow-elbow-down-left-filled:before {
    content: "\f11a";
}
.mas-arrow-elbow-down-right-filled:before {
    content: "\f11b";
}
.mas-arrow-elbow-left-down-filled:before {
    content: "\f11c";
}
.mas-arrow-elbow-left-filled:before {
    content: "\f11d";
}
.mas-arrow-elbow-left-up-filled:before {
    content: "\f11e";
}
.mas-arrow-elbow-right-down-filled:before {
    content: "\f11f";
}
.mas-arrow-elbow-right-filled:before {
    content: "\f120";
}
.mas-arrow-elbow-right-up-filled:before {
    content: "\f121";
}
.mas-arrow-elbow-up-left-filled:before {
    content: "\f122";
}
.mas-arrow-elbow-up-right-filled:before {
    content: "\f123";
}
.mas-arrow-fat-down-filled:before {
    content: "\f124";
}
.mas-arrow-fat-left-filled:before {
    content: "\f125";
}
.mas-arrow-fat-line-down-filled:before {
    content: "\f126";
}
.mas-arrow-fat-line-left-filled:before {
    content: "\f127";
}
.mas-arrow-fat-line-right-filled:before {
    content: "\f128";
}
.mas-arrow-fat-line-up-filled:before {
    content: "\f129";
}
.mas-arrow-fat-lines-down-filled:before {
    content: "\f12a";
}
.mas-arrow-fat-lines-left-filled:before {
    content: "\f12b";
}
.mas-arrow-fat-lines-right-filled:before {
    content: "\f12c";
}
.mas-arrow-fat-lines-up-filled:before {
    content: "\f12d";
}
.mas-arrow-fat-right-filled:before {
    content: "\f12e";
}
.mas-arrow-fat-up-filled:before {
    content: "\f12f";
}
.mas-arrow-left-filled:before {
    content: "\f130";
}
.mas-arrow-line-down-filled:before {
    content: "\f131";
}
.mas-arrow-line-down-left-filled:before {
    content: "\f132";
}
.mas-arrow-line-down-right-filled:before {
    content: "\f133";
}
.mas-arrow-line-left-filled:before {
    content: "\f134";
}
.mas-arrow-line-right-filled:before {
    content: "\f135";
}
.mas-arrow-line-up-filled:before {
    content: "\f136";
}
.mas-arrow-line-up-left-filled:before {
    content: "\f137";
}
.mas-arrow-line-up-right-filled:before {
    content: "\f138";
}
.mas-arrow-right-filled:before {
    content: "\f139";
}
.mas-arrow-square-down-filled:before {
    content: "\f13a";
}
.mas-arrow-square-down-left-filled:before {
    content: "\f13b";
}
.mas-arrow-square-down-right-filled:before {
    content: "\f13c";
}
.mas-arrow-square-in-filled:before {
    content: "\f13d";
}
.mas-arrow-square-left-filled:before {
    content: "\f13e";
}
.mas-arrow-square-out-filled:before {
    content: "\f13f";
}
.mas-arrow-square-right-filled:before {
    content: "\f140";
}
.mas-arrow-square-up-filled:before {
    content: "\f141";
}
.mas-arrow-square-up-left-filled:before {
    content: "\f142";
}
.mas-arrow-square-up-right-filled:before {
    content: "\f143";
}
.mas-arrow-u-down-left-filled:before {
    content: "\f144";
}
.mas-arrow-u-down-right-filled:before {
    content: "\f145";
}
.mas-arrow-u-left-down-filled:before {
    content: "\f146";
}
.mas-arrow-u-left-up-filled:before {
    content: "\f147";
}
.mas-arrow-u-right-down-filled:before {
    content: "\f148";
}
.mas-arrow-u-right-up-filled:before {
    content: "\f149";
}
.mas-arrow-u-up-left-filled:before {
    content: "\f14a";
}
.mas-arrow-u-up-right-filled:before {
    content: "\f14b";
}
.mas-arrow-up-filled:before {
    content: "\f14c";
}
.mas-arrow-up-left-filled:before {
    content: "\f14d";
}
.mas-arrow-up-right-filled:before {
    content: "\f14e";
}
.mas-arrows-clockwise-filled:before {
    content: "\f14f";
}
.mas-arrows-counter-clockwise-filled:before {
    content: "\f150";
}
.mas-arrows-down-up-filled:before {
    content: "\f151";
}
.mas-arrows-horizontal-filled:before {
    content: "\f152";
}
.mas-arrows-in-cardinal-filled:before {
    content: "\f153";
}
.mas-arrows-in-filled:before {
    content: "\f154";
}
.mas-arrows-in-line-horizontal-filled:before {
    content: "\f155";
}
.mas-arrows-in-line-vertical-filled:before {
    content: "\f156";
}
.mas-arrows-in-simple-filled:before {
    content: "\f157";
}
.mas-arrows-left-right-filled:before {
    content: "\f158";
}
.mas-arrows-merge-filled:before {
    content: "\f159";
}
.mas-arrows-out-cardinal-filled:before {
    content: "\f15a";
}
.mas-arrows-out-filled:before {
    content: "\f15b";
}
.mas-arrows-out-line-horizontal-filled:before {
    content: "\f15c";
}
.mas-arrows-out-line-vertical-filled:before {
    content: "\f15d";
}
.mas-arrows-out-simple-filled:before {
    content: "\f15e";
}
.mas-arrows-split-filled:before {
    content: "\f15f";
}
.mas-arrows-vertical-filled:before {
    content: "\f160";
}
.mas-caret-circle-double-down-filled:before {
    content: "\f161";
}
.mas-caret-circle-double-left-filled:before {
    content: "\f162";
}
.mas-caret-circle-double-right-filled:before {
    content: "\f163";
}
.mas-caret-circle-double-up-filled:before {
    content: "\f164";
}
.mas-caret-circle-down-filled:before {
    content: "\f165";
}
.mas-caret-circle-left-filled:before {
    content: "\f166";
}
.mas-caret-circle-right-filled:before {
    content: "\f167";
}
.mas-caret-circle-up-down-filled:before {
    content: "\f168";
}
.mas-caret-circle-up-filled:before {
    content: "\f169";
}
.mas-caret-double-down-filled:before {
    content: "\f16a";
}
.mas-caret-double-left-filled:before {
    content: "\f16b";
}
.mas-caret-double-right-filled:before {
    content: "\f16c";
}
.mas-caret-double-up-filled:before {
    content: "\f16d";
}
.mas-caret-down-filled:before {
    content: "\f16e";
}
.mas-caret-left-filled:before {
    content: "\f16f";
}
.mas-caret-right-filled:before {
    content: "\f170";
}
.mas-caret-up-down-filled:before {
    content: "\f171";
}
.mas-caret-up-filled:before {
    content: "\f172";
}
.mas-recycle-filled:before {
    content: "\f173";
}
