@font-face {
    font-family: "people";
    src: url("../../fonts/filled/people/people.ttf?8f0c6d8ed5d89bb54f0f9e77880c6782") format("truetype"),
url("../../fonts/filled/people/people.woff?8f0c6d8ed5d89bb54f0f9e77880c6782") format("woff"),
url("../../fonts/filled/people/people.woff2?8f0c6d8ed5d89bb54f0f9e77880c6782") format("woff2");
}

i[class^="mas-"]:before, i[class*=" mas-"]:before {
    font-family: people !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mas-0:before {
    content: "\[object Object]";
}
.mas-1:before {
    content: "\[object Object]";
}
.mas-2:before {
    content: "\[object Object]";
}
.mas-3:before {
    content: "\[object Object]";
}
.mas-4:before {
    content: "\[object Object]";
}
.mas-5:before {
    content: "\[object Object]";
}
.mas-6:before {
    content: "\[object Object]";
}
.mas-7:before {
    content: "\[object Object]";
}
.mas-8:before {
    content: "\[object Object]";
}
.mas-9:before {
    content: "\[object Object]";
}
.mas-10:before {
    content: "\[object Object]";
}
.mas-11:before {
    content: "\[object Object]";
}
.mas-12:before {
    content: "\[object Object]";
}
.mas-13:before {
    content: "\[object Object]";
}
.mas-14:before {
    content: "\[object Object]";
}
.mas-15:before {
    content: "\[object Object]";
}
.mas-16:before {
    content: "\[object Object]";
}
.mas-17:before {
    content: "\[object Object]";
}
.mas-baby-filled:before {
    content: "\f101";
}
.mas-footprints-filled:before {
    content: "\f102";
}
.mas-gender-female-filled:before {
    content: "\f103";
}
.mas-gender-intersex-filled:before {
    content: "\f104";
}
.mas-gender-male-filled:before {
    content: "\f105";
}
.mas-gender-neuter-filled:before {
    content: "\f106";
}
.mas-gender-nonbinary-filled:before {
    content: "\f107";
}
.mas-gender-transgender-filled:before {
    content: "\f108";
}
.mas-hand-eye-filled:before {
    content: "\f109";
}
.mas-hand-filled:before {
    content: "\f10a";
}
.mas-hand-fist-filled:before {
    content: "\f10b";
}
.mas-hand-grabbing-filled:before {
    content: "\f10c";
}
.mas-hand-palm-filled:before {
    content: "\f10d";
}
.mas-hand-pointing-filled:before {
    content: "\f10e";
}
.mas-hand-waving-filled:before {
    content: "\f10f";
}
.mas-hands-clapping-filled:before {
    content: "\f110";
}
.mas-hands-praying-filled:before {
    content: "\f111";
}
.mas-handshake-filled:before {
    content: "\f112";
}
.mas-identification-badge-filled:before {
    content: "\f113";
}
.mas-identification-card-filled:before {
    content: "\f114";
}
.mas-person-arms-spread-filled:before {
    content: "\f115";
}
.mas-person-filled:before {
    content: "\f116";
}
.mas-person-simple-bike-filled:before {
    content: "\f117";
}
.mas-person-simple-filled:before {
    content: "\f118";
}
.mas-person-simple-run-filled:before {
    content: "\f119";
}
.mas-person-simple-throw-filled:before {
    content: "\f11a";
}
.mas-person-simple-walk-filled:before {
    content: "\f11b";
}
.mas-smiley-angry-filled:before {
    content: "\f11c";
}
.mas-smiley-blank-filled:before {
    content: "\f11d";
}
.mas-smiley-filled:before {
    content: "\f11e";
}
.mas-smiley-meh-filled:before {
    content: "\f11f";
}
.mas-smiley-nervous-filled:before {
    content: "\f120";
}
.mas-smiley-sad-filled:before {
    content: "\f121";
}
.mas-smiley-sticker-filled:before {
    content: "\f122";
}
.mas-smiley-wink-filled:before {
    content: "\f123";
}
.mas-smiley-x-eyes-filled:before {
    content: "\f124";
}
.mas-user-circle-filled:before {
    content: "\f125";
}
.mas-user-circle-gear-filled:before {
    content: "\f126";
}
.mas-user-circle-minus-filled:before {
    content: "\f127";
}
.mas-user-circle-plus-filled:before {
    content: "\f128";
}
.mas-user-filled:before {
    content: "\f129";
}
.mas-user-focus-filled:before {
    content: "\f12a";
}
.mas-user-gear-filled:before {
    content: "\f12b";
}
.mas-user-list-filled:before {
    content: "\f12c";
}
.mas-user-minus-filled:before {
    content: "\f12d";
}
.mas-user-plus-filled:before {
    content: "\f12e";
}
.mas-user-rectangle-filled:before {
    content: "\f12f";
}
.mas-user-square-filled:before {
    content: "\f130";
}
.mas-user-switch-filled:before {
    content: "\f131";
}
.mas-users-filled:before {
    content: "\f132";
}
.mas-users-four-filled:before {
    content: "\f133";
}
.mas-users-three-filled:before {
    content: "\f134";
}
.mas-wheelchair-filled:before {
    content: "\f135";
}
.mas-wheelchair-motion-filled:before {
    content: "\f136";
}
