@font-face {
    font-family: "time--filled";
    src: url("../../fonts/filled/time/time.ttf?ac2b907836b7843ce39e98d756c8a5c4") format("truetype"),
url("../../fonts/filled/time/time.woff?ac2b907836b7843ce39e98d756c8a5c4") format("woff"),
url("../../fonts/filled/time/time.woff2?ac2b907836b7843ce39e98d756c8a5c4") format("woff2");
}

i[class^="mas-time--filled"]:before, i[class*=" mas-time--filled"]:before {
    font-family: time--filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mas-alarm-filled:before {
    content: "\e497";
}
.mas-calendar-blank-filled:before {
    content: "\e498";
}
.mas-calendar-check-filled:before {
    content: "\e499";
}
.mas-calendar-filled:before {
    content: "\e49a";
}
.mas-calendar-plus-filled:before {
    content: "\e49b";
}
.mas-calendar-x-filled:before {
    content: "\e49c";
}
.mas-clock-afternoon-filled:before {
    content: "\e49d";
}
.mas-clock-clockwise-filled:before {
    content: "\e49e";
}
.mas-clock-countdown-filled:before {
    content: "\e49f";
}
.mas-clock-counter-clockwise-filled:before {
    content: "\e4a0";
}
.mas-clock-filled:before {
    content: "\e4a1";
}
.mas-hourglass-filled:before {
    content: "\e4a2";
}
.mas-hourglass-high-filled:before {
    content: "\e4a3";
}
.mas-hourglass-low-filled:before {
    content: "\e4a4";
}
.mas-hourglass-medium-filled:before {
    content: "\e4a5";
}
.mas-hourglass-simple-filled:before {
    content: "\e4a6";
}
.mas-hourglass-simple-high-filled:before {
    content: "\e4a7";
}
.mas-hourglass-simple-low-filled:before {
    content: "\e4a8";
}
.mas-hourglass-simple-medium-filled:before {
    content: "\e4a9";
}
.mas-timer-filled:before {
    content: "\e4aa";
}
.mas-watch-filled:before {
    content: "\e4ab";
}
