@font-face {
    font-family: "office-and-editing";
    src: url("../../fonts/outlined/office-and-editing/office-and-editing.ttf?8fa6fb0723e57639cd22b78b864c2422") format("truetype"),
url("../../fonts/outlined/office-and-editing/office-and-editing.woff?8fa6fb0723e57639cd22b78b864c2422") format("woff"),
url("../../fonts/outlined/office-and-editing/office-and-editing.woff2?8fa6fb0723e57639cd22b78b864c2422") format("woff2");
}

i[class^="mas-"]:before, i[class*=" mas-"]:before {
    font-family: office-and-editing !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mas-0:before {
    content: "\[object Object]";
}
.mas-1:before {
    content: "\[object Object]";
}
.mas-2:before {
    content: "\[object Object]";
}
.mas-3:before {
    content: "\[object Object]";
}
.mas-4:before {
    content: "\[object Object]";
}
.mas-5:before {
    content: "\[object Object]";
}
.mas-6:before {
    content: "\[object Object]";
}
.mas-7:before {
    content: "\[object Object]";
}
.mas-8:before {
    content: "\[object Object]";
}
.mas-9:before {
    content: "\[object Object]";
}
.mas-10:before {
    content: "\[object Object]";
}
.mas-11:before {
    content: "\[object Object]";
}
.mas-12:before {
    content: "\[object Object]";
}
.mas-13:before {
    content: "\[object Object]";
}
.mas-14:before {
    content: "\[object Object]";
}
.mas-15:before {
    content: "\[object Object]";
}
.mas-16:before {
    content: "\[object Object]";
}
.mas-17:before {
    content: "\[object Object]";
}
.mas-archive-box-outlined:before {
    content: "\f101";
}
.mas-archive-outlined:before {
    content: "\f102";
}
.mas-archive-tray-outlined:before {
    content: "\f103";
}
.mas-briefcase-metal-outlined:before {
    content: "\f104";
}
.mas-briefcase-outlined:before {
    content: "\f105";
}
.mas-cards-outlined:before {
    content: "\f106";
}
.mas-clipboard-outlined:before {
    content: "\f107";
}
.mas-clipboard-text-outlined:before {
    content: "\f108";
}
.mas-copy-outlined:before {
    content: "\f109";
}
.mas-copy-simple-outlined:before {
    content: "\f10a";
}
.mas-cursor-text-outlined:before {
    content: "\f10b";
}
.mas-file-archive-outlined:before {
    content: "\f10c";
}
.mas-file-arrow-down-outlined:before {
    content: "\f10d";
}
.mas-file-arrow-up-outlined:before {
    content: "\f10e";
}
.mas-file-audio-outlined:before {
    content: "\f10f";
}
.mas-file-cloud-outlined:before {
    content: "\f110";
}
.mas-file-code-outlined:before {
    content: "\f111";
}
.mas-file-css-outlined:before {
    content: "\f112";
}
.mas-file-csv-outlined:before {
    content: "\f113";
}
.mas-file-dashed-outlined:before {
    content: "\f114";
}
.mas-file-doc-outlined:before {
    content: "\f115";
}
.mas-file-html-outlined:before {
    content: "\f116";
}
.mas-file-image-outlined:before {
    content: "\f117";
}
.mas-file-jpg-outlined:before {
    content: "\f118";
}
.mas-file-js-outlined:before {
    content: "\f119";
}
.mas-file-jsx-outlined:before {
    content: "\f11a";
}
.mas-file-lock-outlined:before {
    content: "\f11b";
}
.mas-file-minus-outlined:before {
    content: "\f11c";
}
.mas-file-outlined:before {
    content: "\f11d";
}
.mas-file-pdf-outlined:before {
    content: "\f11e";
}
.mas-file-plus-outlined:before {
    content: "\f11f";
}
.mas-file-png-outlined:before {
    content: "\f120";
}
.mas-file-ppt-outlined:before {
    content: "\f121";
}
.mas-file-rs-outlined:before {
    content: "\f122";
}
.mas-file-search-outlined:before {
    content: "\f123";
}
.mas-file-sql-outlined:before {
    content: "\f124";
}
.mas-file-svg-outlined:before {
    content: "\f125";
}
.mas-file-text-outlined:before {
    content: "\f126";
}
.mas-file-ts-outlined:before {
    content: "\f127";
}
.mas-file-tsx-outlined:before {
    content: "\f128";
}
.mas-file-video-outlined:before {
    content: "\f129";
}
.mas-file-vue-outlined:before {
    content: "\f12a";
}
.mas-file-x-outlined:before {
    content: "\f12b";
}
.mas-file-xls-outlined:before {
    content: "\f12c";
}
.mas-file-zip-outlined:before {
    content: "\f12d";
}
.mas-files-outlined:before {
    content: "\f12e";
}
.mas-floppy-disk-back-outlined:before {
    content: "\f12f";
}
.mas-floppy-disk-outlined:before {
    content: "\f130";
}
.mas-folder-dashed-outlined:before {
    content: "\f131";
}
.mas-folder-lock-outlined:before {
    content: "\f132";
}
.mas-folder-minus-outlined:before {
    content: "\f133";
}
.mas-folder-notch-minus-outlined:before {
    content: "\f134";
}
.mas-folder-notch-open-outlined:before {
    content: "\f135";
}
.mas-folder-notch-outlined:before {
    content: "\f136";
}
.mas-folder-notch-plus-outlined:before {
    content: "\f137";
}
.mas-folder-open-outlined:before {
    content: "\f138";
}
.mas-folder-outlined:before {
    content: "\f139";
}
.mas-folder-plus-outlined:before {
    content: "\f13a";
}
.mas-folder-simple-dashed-outlined:before {
    content: "\f13b";
}
.mas-folder-simple-lock-outlined:before {
    content: "\f13c";
}
.mas-folder-simple-minus-outlined:before {
    content: "\f13d";
}
.mas-folder-simple-outlined:before {
    content: "\f13e";
}
.mas-folder-simple-plus-outlined:before {
    content: "\f13f";
}
.mas-folder-simple-star-outlined:before {
    content: "\f140";
}
.mas-folder-simple-user-outlined:before {
    content: "\f141";
}
.mas-folder-star-outlined:before {
    content: "\f142";
}
.mas-folder-user-outlined:before {
    content: "\f143";
}
.mas-folders-outlined:before {
    content: "\f144";
}
.mas-funnel-outlined:before {
    content: "\f145";
}
.mas-funnel-simple-outlined:before {
    content: "\f146";
}
.mas-kanban-outlined:before {
    content: "\f147";
}
.mas-list-bullets-outlined:before {
    content: "\f148";
}
.mas-list-checks-outlined:before {
    content: "\f149";
}
.mas-list-dashes-outlined:before {
    content: "\f14a";
}
.mas-list-numbers-outlined:before {
    content: "\f14b";
}
.mas-list-outlined:before {
    content: "\f14c";
}
.mas-list-plus-outlined:before {
    content: "\f14d";
}
.mas-note-blank-outlined:before {
    content: "\f14e";
}
.mas-note-outlined:before {
    content: "\f14f";
}
.mas-note-pencil-outlined:before {
    content: "\f150";
}
.mas-notebook-outlined:before {
    content: "\f151";
}
.mas-notepad-outlined:before {
    content: "\f152";
}
.mas-paperclip-horizontal-outlined:before {
    content: "\f153";
}
.mas-paperclip-outlined:before {
    content: "\f154";
}
.mas-paragraph-outlined:before {
    content: "\f155";
}
.mas-presentation-chart-outlined:before {
    content: "\f156";
}
.mas-presentation-outlined:before {
    content: "\f157";
}
.mas-printer-outlined:before {
    content: "\f158";
}
.mas-projector-screen-chart-outlined:before {
    content: "\f159";
}
.mas-projector-screen-outlined:before {
    content: "\f15a";
}
.mas-push-pin-outlined:before {
    content: "\f15b";
}
.mas-push-pin-simple-outlined:before {
    content: "\f15c";
}
.mas-push-pin-simple-slash-outlined:before {
    content: "\f15d";
}
.mas-push-pin-slash-outlined:before {
    content: "\f15e";
}
.mas-sort-ascending-outlined:before {
    content: "\f15f";
}
.mas-sort-descending-outlined:before {
    content: "\f160";
}
.mas-text-aa-outlined:before {
    content: "\f161";
}
.mas-text-align-center-outlined:before {
    content: "\f162";
}
.mas-text-align-justify-outlined:before {
    content: "\f163";
}
.mas-text-align-left-outlined:before {
    content: "\f164";
}
.mas-text-align-right-outlined:before {
    content: "\f165";
}
.mas-text-b-outlined:before {
    content: "\f166";
}
.mas-text-columns-outlined:before {
    content: "\f167";
}
.mas-text-h-five-outlined:before {
    content: "\f168";
}
.mas-text-h-four-outlined:before {
    content: "\f169";
}
.mas-text-h-one-outlined:before {
    content: "\f16a";
}
.mas-text-h-outlined:before {
    content: "\f16b";
}
.mas-text-h-six-outlined:before {
    content: "\f16c";
}
.mas-text-h-three-outlined:before {
    content: "\f16d";
}
.mas-text-h-two-outlined:before {
    content: "\f16e";
}
.mas-text-indent-outlined:before {
    content: "\f16f";
}
.mas-text-italic-outlined:before {
    content: "\f170";
}
.mas-text-outdent-outlined:before {
    content: "\f171";
}
.mas-text-strikethrough-outlined:before {
    content: "\f172";
}
.mas-text-t-outlined:before {
    content: "\f173";
}
.mas-text-underline-outlined:before {
    content: "\f174";
}
.mas-textbox-outlined:before {
    content: "\f175";
}
.mas-trash-outlined:before {
    content: "\f176";
}
.mas-trash-simple-outlined:before {
    content: "\f177";
}
.mas-tray-outlined:before {
    content: "\f178";
}
