/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-VariableFont_wght.ttf');
}

@import '@masoni/css/dist/index.css';
