@import '@masoni/css-design-tokens/dist/index.css';
mas-button {
  width: fit-content;
}
.mas-button {
  display: flex;
  box-sizing: border-box;
  padding: var(--mas-web-component-button-spacing-medium-padding-top)
    var(--mas-web-component-button-spacing-medium-padding-right)
    var(--mas-web-component-button-spacing-medium-padding-bottom)
    var(--mas-web-component-button-spacing-medium-padding-left);
  border-radius: var(--mas-web-component-button-border-radius);
  font: var(--mas-web-component-button-typography-medium);
  justify-content: center;
  align-items: center;
  font-feature-settings: 'calt' off;
  /* Body/Semibold/Body 3 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 44px;
  border: none;
  cursor: pointer;
}

/* Primary button */
.mas-button_variant--primary {
  background-color: var(--mas-web-component-button-color-primary-container-default);
  color: var(--mas-web-component-button-color-primary-content-label);
}

.mas-button_variant--primary:not(:disabled):hover {
  background: linear-gradient(var(--mas-web-component-button-color-primary-container-hover), var(--mas-web-component-button-color-primary-container-hover)), linear-gradient(var(--mas-web-component-button-color-primary-container-default), var(--mas-web-component-button-color-primary-container-default));
  background-blend-mode: multiply;
}

.mas-button_variant--primary:not(:disabled):active {
  background: linear-gradient(var(--mas-web-component-button-color-primary-container-active), var(--mas-web-component-button-color-primary-container-active)), linear-gradient(var(--mas-web-component-button-color-primary-container-default), var(--mas-web-component-button-color-primary-container-default));
  background-blend-mode: multiply;
}

.mas-button_variant--primary:disabled {
  opacity: 0.5;
}

/* Secondary button */
.mas-button_variant--secondary {
  color: var(--mas-web-component-button-color-secondary-content-default);
  border: var(--mas-web-component-button-border-width-default) solid #d7d7db;
  background-color: var(--mas-web-component-button-color-secondary-container-default);
}

.mas-button_variant--secondary:not(:disabled):hover {
  border: var(--mas-web-component-button-border-width-default) solid #d7d7db;
  background-color: var(--mas-web-component-button-color-secondary-container-hover);
}

.mas-button_variant--secondary:not(:disabled):active {
  border: var(--mas-web-component-button-border-width-default) solid #d7d7db;
  background-color: var(--mas-web-component-button-color-secondary-container-active);
}

.mas-button_variant--secondary:disabled {
  border: var(--mas-web-component-button-border-width-default) solid #d7d7db;
  opacity: 0.5;
  background: #fff;
}

/* Tertiary button */
.mas-button_variant--tertiary {
  color: var(--mas-web-component-button-color-tertiray-content-label);
  background-color: transparent;
}

.mas-button_variant--tertiary:not(:disabled):hover {
  background: linear-gradient(var(--mas-web-component-button-color-tertiray-container-hover), var(--mas-web-component-button-color-tertiray-container-hover)), transparent;
  background-blend-mode: multiply;
}

.mas-button_variant--tertiary:not(:disabled):active {
  background: linear-gradient(var(--mas-web-component-button-color-tertiray-container-active), var(--mas-web-component-button-color-tertiray-container-active)), transparent;
  background-blend-mode: multiply;
}

.mas-button_variant--tertiary:disabled {
  opacity: 0.5;
}

/* Sizes */
.mas-button_size--small {
  font: var(--mas-web-component-button-typography-small);
  padding: var(--mas-web-component-button-spacing-small-padding-top)
    var(--mas-web-component-button-spacing-small-padding-right)
    var(--mas-web-component-button-spacing-small-padding-bottom)
    var(--mas-web-component-button-spacing-small-padding-left);
  gap: var(--mas-web-component-button-spacing-small-gap);
  height: 36px;
}

.mas-button_size--medium {
  font: var(--mas-web-component-button-typography-medium);
  padding: var(--mas-web-component-button-spacing-medium-padding-top)
    var(--mas-web-component-button-spacing-medium-padding-right)
    var(--mas-web-component-button-spacing-medium-padding-bottom)
    var(--mas-web-component-button-spacing-medium-padding-left);
  gap: var(--mas-web-component-button-spacing-medium-gap);
}

.mas-button_size--large {
  font: var(--mas-web-component-button-typography-large);
  padding: var(--mas-web-component-button-spacing-large-padding-top)
    var(--mas-web-component-button-spacing-large-padding-right)
    var(--mas-web-component-button-spacing-large-padding-bottom)
    var(--mas-web-component-button-spacing-large-padding-left);
  gap: var(--mas-web-component-button-spacing-large-gap);
}

/* Shapes */
.mas-button_shape--rounded {
  border-radius: var(--mas-web-component-button-border-radius-rounded);
}

.mas-button_shape--square {
  border-radius: var(--mas-web-component-button-border-radius-square);
}

/* Button Icon */
.mas-button--icon-left i[class^='mas-'],
.mas-button_size--medium.mas-button--icon-left i[class^='mas-'] {
  font-size: var(--mas-web-component-button-color-sizing-medium-start-icon);
}

.mas-button_size--small.mas-button--icon-left i[class^='mas-'] {
  font-size: var(--mas-web-component-button-color-sizing-small-start-icon);
}

.mas-button_size--small.mas-button--icon-right i[class^='mas-'] {
  font-size: var(--mas-web-component-button-color-sizing-small-end-icon);
}

.mas-button--icon-right i[class^='mas-'],
.mas-button_size--medium.mas-button--icon-right i[class^='mas-'] {
  font-size: var(--mas-web-component-button-color-sizing-medium-end-icon);
}

.mas-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 14px;
}
