@import '@masoni/css-design-tokens/dist/index.css';
mas-button {
  width: fit-content;
}
.mas-btn {
  display: flex;
  box-sizing: border-box;
  padding: var(--mas-web-component-button-spacing-medium-padding-top)
    var(--mas-web-component-button-spacing-medium-padding-right)
    var(--mas-web-component-button-spacing-medium-padding-bottom)
    var(--mas-web-component-button-spacing-medium-padding-left);
  border-radius: var(--mas-web-component-button-border-radius);
  font: var(--mas-web-component-button-typography-medium);
  gap: var(--mas-web-component-button-spacing-medium-gap);
  color: var(--mas-web-component-button-color-primary-content-label);
  justify-content: center;
  align-items: center;
  font-feature-settings: 'calt' off;
  /* Body/Semibold/Body 3 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 44px;
  border: none;
  cursor: pointer;
}

/* Primary button */
.mas-btn_variant--primary {
  background-color: var(--mas-web-component-button-color-primary-container-default);
}

.mas-btn_variant--primary:not(:disabled):hover {
  background-color: var(--mas-web-component-button-color-primary-container-hover);
}

.mas-btn_variant--primary:not(:disabled):active {
  background-color: var(--mas-web-component-button-color-primary-container-active);
}

.mas-btn_variant--primary:disabled {
  opacity: 0.5;
  background-color: #005885;
}

/* Secondary button */
.mas-btn_variant--secondary {
  color: var(--mas-web-component-button-color-secondary-content-default);
  border: var(--mas-web-component-button-border-width-default) solid #d7d7db;
  background-color: var(--mas-web-component-button-color-secondary-container-default);
}

.mas-btn_variant--secondary:not(:disabled):hover {
  border: var(--mas-web-component-button-border-width-default) solid #d7d7db;
  background-color: var(--mas-web-component-button-color-secondary-container-hover);
}

.mas-btn_variant--secondary:not(:disabled):active {
  border: var(--mas-web-component-button-border-width-default) solid #d7d7db;
  background-color: var(--mas-web-component-button-color-secondary-container-active);
}

.mas-btn_variant--secondary:disabled {
  border: var(--mas-web-component-button-border-width-default) solid #d7d7db;
  opacity: 0.5;
  background: #fff;
}

/* Tertiary button */
.mas-btn_variant--tertiary {
  color: #0c0c0d;
  background-color: transparent;
}

.mas-btn_variant--tertiary:not(:disabled):hover {
  background-color: var(--mas-web-component-button-color-tertiray-container-hover);
}

.mas-btn_variant--tertiary:not(:disabled):active {
  background-color: var(--mas-web-component-button-color-tertiray-container-active);
}

.mas-btn_variant--tertiary:disabled {
  opacity: 0.5;
}

/* Accent button */
.mas-btn_variant--accent {
  background-color: #c74d10;
}

.mas-btn_variant--accent:not(:disabled):hover {
  background-color: #a6400d;
}

.mas-btn_variant--accent:not(:disabled):active {
  background-color: #84330a;
}

.mas-btn_variant--accent:disabled {
  opacity: 0.5;
  background-color: #c74d10;
}

/* Sizes */
.mas-btn_size--small {
  font: var(--mas-web-component-button-typography-small);
  padding: var(--mas-web-component-button-spacing-small-padding-top)
    var(--mas-web-component-button-spacing-small-padding-right)
    var(--mas-web-component-button-spacing-small-padding-bottom)
    var(--mas-web-component-button-spacing-small-padding-left);
  height: 36px;
}

.mas-btn_size--medium {
  font: var(--mas-web-component-button-typography-medium);
  padding: var(--mas-web-component-button-spacing-medium-padding-top)
    var(--mas-web-component-button-spacing-medium-padding-right)
    var(--mas-web-component-button-spacing-medium-padding-bottom)
    var(--mas-web-component-button-spacing-medium-padding-left);
}

.mas-btn--icon-left i[class^='mas-'],
.mas-btn_size--medium.mas-btn--icon-left i[class^='mas-'] {
  font-size: var(--mas-web-component-button-color-sizing-medium-start-icon);
}

.mas-btn_size--small.mas-btn--icon-left i[class^='mas-'] {
  font-size: var(--mas-web-component-button-color-sizing-small-start-icon);
}

.mas-btn_size--small.mas-btn--icon-right i[class^='mas-'] {
  font-size: var(--mas-web-component-button-color-sizing-small-end-icon);
}

.mas-btn--icon-right i[class^='mas-'],
.mas-btn_size--medium.mas-btn--icon-right i[class^='mas-'] {
  font-size: var(--mas-web-component-button-color-sizing-medium-end-icon);
}

.mas-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 14px;
}
