@import '@masoni/css-design-tokens/dist/index.css';
.mas-breadcrumbs_nav {
  display: flex;
  align-items: center;
  --mas-icon_size: var(--mas-web-component-breadcrumbs-sizing-icon-default);
}

.mas-breadcrumb-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--mas-web-component-breadcrumbs-color-content-default);
  font: var(--mas-web-component-beadcrumbs-typography-label);
  a {
    text-decoration: none;
    color: inherit;
  }
}

.mas-breadcrumb-item::after {
  font-family: arrows--outlined;
  color: var(--mas-web-component-breadcrumbs-color-content-default);
  content: '\e54f';
  font-size: 16px;
  margin-inline: 8px;
}
.mas-breadcrumb-item:last-child::after {
  content: '';
}
.mas-breadcrumb_overflow {
  display: flex;
  color: var(--mas-web-component-breadcrumbs-color-content-default);
  user-select: none;
  font: var(--mas-web-component-beadcrumbs-typography-label)
}
.mas-breadcrumb_overflow::after {
  font-family: arrows--outlined;
  color: var(--mas-web-component-breadcrumbs-color-content-default);
  content: '\e54f';
  font-size: 16px;
  line-height: 20px;
  margin-inline: 8px;
}
.mas-breadcrumb_overflow-icon::before {
  line-height: 20px;
  height: 20px;
}