@import '@masoni/css-design-tokens/dist/index.css';

.mas-avatar_container {
  border-radius: var(--mas-web-component-avatar-border-radius-top-left)
    var(--mas-web-component-avatar-border-radius-top-right) var(--mas-web-component-avatar-border-radius-bottom-right)
    var(--mas-web-component-avatar-border-radius-bottom-left);
  overflow: hidden;
  background-color: var(--mas-web-component-avatar-color-container);
  color: var(--mas-web-component-avatar-color-content);
  display: flex;
  justify-content: center;
  align-items: center;
  & .mas-avatar_img {
    height: 100%;
    width: 100%;
  }
}

/* Taille */
.mas-avatar_size--x-small {
  height: 20px;
  width: 20px;

  & .mas-avatar_icon {
    padding: var(--mas-web-component-avatar-spacing-x-small-padding-top)
      var(--mas-web-component-avatar-spacing-x-small-padding-right)
      var(--mas-web-component-avatar-spacing-x-small-padding-bottom)
      var(--mas-web-component-avatar-spacing-x-small-padding-left);
    width: var(--mas-web-component-avatar-sizing-x-small-icon-width);
    height: var(--mas-web-component-avatar-sizing-x-small-icon-height);
    --mas-icon_size: var(--mas-web-component-avatar-sizing-x-small-icon-width);
  }
}

.mas-avatar_size--small {
  height: 24px;
  width: 24px;

  & .mas-avatar_icon {
    padding: var(--mas-web-component-avatar-spacing-small-padding-top)
      var(--mas-web-component-avatar-spacing-small-padding-right)
      var(--mas-web-component-avatar-spacing-small-padding-bottom)
      var(--mas-web-component-avatar-spacing-small-padding-left);
    width: var(--mas-web-component-avatar-sizing-small-icon-width);
    height: var(--mas-web-component-avatar-sizing-small-icon-height);
    --mas-icon_size: var(--mas-web-component-avatar-sizing-small-icon-width);
  }
}

.mas-avatar_size--medium {
  height: 32px;
  width: 32px;
  & .mas-avatar_icon {
    padding: var(--mas-web-component-avatar-spacing-medium-padding-top)
      var(--mas-web-component-avatar-spacing-medium-padding-right)
      var(--mas-web-component-avatar-spacing-medium-padding-bottom)
      var(--mas-web-component-avatar-spacing-medium-padding-left);
    width: var(--mas-web-component-avatar-sizing-medium-icon-width);
    height: var(--mas-web-component-avatar-sizing-medium-icon-height);
    --mas-icon_size: var(--mas-web-component-avatar-sizing-medium-icon-width);
  }
}

.mas-avatar_size--large {
  height: 40px;
  width: 40px;
  & .mas-avatar_icon {
    padding: var(--mas-web-component-avatar-spacing-large-padding-top)
      var(--mas-web-component-avatar-spacing-large-padding-right)
      var(--mas-web-component-avatar-spacing-large-padding-bottom)
      var(--mas-web-component-avatar-spacing-large-padding-left);
    width: var(--mas-web-component-avatar-sizing-large-icon-width);
    height: var(--mas-web-component-avatar-sizing-large-icon-height);
    --mas-icon_size: var(--mas-web-component-avatar-sizing-large-icon-width);
  }
}