@import '@masoni/css-design-tokens/dist/index.css';

.mas-select {
  font-family: var(--mas-typo_font-family--inter);
  font-weight: var(--mas-typo_body-font-weight);
  font-size: var(--mas-typo_body-3-font-size);
  line-height: var(--mas-typo_body-3-line-height);
  box-sizing: border-box;
  inline-size: -moz-min-content;
  inline-size: min-content;
  white-space: nowrap;
}

.mas-option {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  background-color: var(--mas-semantic-color-surface-primary);
  align-self: stretch;
}

.mas-select_label {
  color: var(--mas-semantic-color_text-primary);
  -webkit-margin-after: 6px;
  margin-block-end: 6px;
  display: inline-block;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
}

.mas-select_value-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0 0 0 1px var(--mas-semantic-color_border-primary);
  border-radius: var(--mas-radius_2);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  line-height: inherit;
  min-inline-size: 280px;
  block-size: 32px;
  padding-inline: 12px;
}

.mas-select-min-line {
  width: 100%;
}
.mas-select-placeholder{
  color: var(--mas-semantic-color_text-tiertiary);
}
.mas-select_value {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  min-inline-size: 280px;
  inline-size: 280px;
  inline-size: -moz-min-content;
  inline-size: min-content;
  background-color: var(--mas-semantic-color-surface-primary);
  cursor: pointer;
  transition: var(--mas-transition_focus-visible);
}

.mas-select_listbox-wrapper {
  position: absolute;
  box-shadow: var(--mas-shadow_200);
  border-radius: var(--mas-radius_1);
  background-color: var(--mas-semantic-color_surface-secondary);
  border: 1px solid var(--mas-semantic-color_border-primary);
  padding: 4px 0;
  z-index: 10 !important;
  width: 280px;
}
/* ! icons */
.mas-icon {
  display: flex;
  height: 16px;
  width: 16px;
  align-items: center;
  justify-content: center;
}
.mas-caretdown-outlined {
  margin-inline-start: 8px;
  pointer-events: none;
  color: var(--mas-semantic-color_icon-secondary);
}
.mas-warningcircle-outlined {
  margin-inline-end: 8px;
  pointer-events: none;
  color: var(--mas-semantic-color_icon-secondary);
}
.mas-check-outlined{
  pointer-events: none;
  color: var(--mas-semantic-color_icon-secondary);
}
/* ! hover */
.mas-option:hover {
  background-color: var(--mas-primitive-color_grey300);
}
.mas-option--selected:hover {
  background-color: var(--mas-primitive-color_blue600);
  color: var(--mas-semantic-color_text-reverse);
  .mas-check-outlined {
    color: inherit;
  }
}
.mas.mas-option--selected:hover .mas-check-outlined{
  color: inherit;
}
.mas-select_value:hover {
  box-shadow: 0 0 0 1px var(--mas-semantic-color_action-tiertiary--default);
}
/* ! pressed (active) */
.mas-option::after:active {
  position: absolute;
  content: '';
}
.mas-select_value:active,
.mas-select_value:focus-visible {
  box-shadow: 0 0 0 1px var(--mas-semantic-color_action-primary--default);
}
.mas-select_value-wrapper:active {
  box-shadow: 0 0 0 4px hsla(200, 100%, 42%, 0.16);
  border-radius: var(--mas-radius_2);
}

/* ! disabled */

.mas-select--disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
/* ! invalid */
.mas-select--invalid .mas-select_value {
  border: 1px solid var(--mas-primitive-color_red600);
}
.mas-select--invalid .mas-select_value:hover {
}
.mas-select_invalid-icon {
}

.mas-select_listbox-wrapper--closed {
  visibility: hidden;
}
