@import '@masoni/css-design-tokens/dist/index.css';

.mas-select {
  font-family: var(--mas-typo_font-family--inter);
  font-weight: var(--mas-typo_body-font-weight);
  font-size: var(--mas-typo_body-3-font-size);
  line-height: var(--mas-typo_body-3-line-height);
  box-sizing: border-box;
  inline-size: -moz-min-content;
  inline-size: min-content;
  white-space: nowrap;
}

.mas-option {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  background-color: var(--mas-semantic-color-surface-primary);
  align-self: stretch;
}

.mas-select_label {
  color: var(--mas-semantic-color_text-primary);
  -webkit-margin-after: 6px;
  margin-block-end: 6px;
  display: inline-block;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
}

.mas-select_value-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0 0 0 1px var(--mas-semantic-color_border-primary);
  border-radius: var(--mas-radius_2);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  line-height: inherit;
  min-inline-size: 280px;
  block-size: 32px;
}
.mas-select-min-line{
  width: inherit;
  margin: 0 8px;
}
.mas-select-placeholder{
  color: var(--mas-semantic-color_text-tiertiary);
}
.mas-select_value {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  /* border-radius: var(--mas-radius_2); */
  /* block-size: 32px; */
  min-inline-size: 280px;
  inline-size: 280px;
  inline-size: -moz-min-content;
  inline-size: min-content;
  background-color: var(--mas-semantic-color-surface-primary);
  cursor: pointer;
  /* box-shadow: 0 0 0 1px var(--mas-semantic-color_border-primary); */
  transition: var(--mas-transition_focus-visible);
}
.mas-select_value-wrapper::before {
  content: '';
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13.3537 6.35378L8.35372 11.3538C8.30729 11.4003 8.25214 11.4372 8.19144 11.4623C8.13074 11.4875 8.06568 11.5004 7.99997 11.5004C7.93427 11.5004 7.8692 11.4875 7.8085 11.4623C7.7478 11.4372 7.69266 11.4003 7.64622 11.3538L2.64622 6.35378C2.5524 6.25996 2.49969 6.13272 2.49969 6.00003C2.49969 5.86735 2.5524 5.7401 2.64622 5.64628C2.74004 5.55246 2.86729 5.49976 2.99997 5.49976C3.13265 5.49976 3.2599 5.55246 3.35372 5.64628L7.99997 10.2932L12.6462 5.64628C12.6927 5.59983 12.7478 5.56298 12.8085 5.53784C12.8692 5.5127 12.9343 5.49976 13 5.49976C13.0657 5.49976 13.1307 5.5127 13.1914 5.53784C13.2521 5.56298 13.3073 5.59983 13.3537 5.64628C13.4002 5.69274 13.437 5.74789 13.4622 5.80859C13.4873 5.86928 13.5003 5.93434 13.5003 6.00003C13.5003 6.06573 13.4873 6.13079 13.4622 6.19148C13.437 6.25218 13.4002 6.30733 13.3537 6.35378Z' fill='%23737373'/%3E%3C/svg%3E");
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13.3537 6.35378L8.35372 11.3538C8.30729 11.4003 8.25214 11.4372 8.19144 11.4623C8.13074 11.4875 8.06568 11.5004 7.99997 11.5004C7.93427 11.5004 7.8692 11.4875 7.8085 11.4623C7.7478 11.4372 7.69266 11.4003 7.64622 11.3538L2.64622 6.35378C2.5524 6.25996 2.49969 6.13272 2.49969 6.00003C2.49969 5.86735 2.5524 5.7401 2.64622 5.64628C2.74004 5.55246 2.86729 5.49976 2.99997 5.49976C3.13265 5.49976 3.2599 5.55246 3.35372 5.64628L7.99997 10.2932L12.6462 5.64628C12.6927 5.59983 12.7478 5.56298 12.8085 5.53784C12.8692 5.5127 12.9343 5.49976 13 5.49976C13.0657 5.49976 13.1307 5.5127 13.1914 5.53784C13.2521 5.56298 13.3073 5.59983 13.3537 5.64628C13.4002 5.69274 13.437 5.74789 13.4622 5.80859C13.4873 5.86928 13.5003 5.93434 13.5003 6.00003C13.5003 6.06573 13.4873 6.13079 13.4622 6.19148C13.437 6.25218 13.4002 6.30733 13.3537 6.35378Z' fill='%23737373'/%3E%3C/svg%3E");
  position: absolute;
  margin-top: 6px;
  inset-inline-end: 12px;
  inline-size: 16px;
  block-size: 16px;
  pointer-events: none;
  background-color: var(--mas-semantic-color_icon-secondary);
}

.mas-select_listbox-wrapper {
  position:absolute;
  box-shadow: var(--mas-shadow_200);
  border-radius: var(--mas-radius_1);
  background-color: var(--mas-semantic-color_surface-secondary);
  border: 1px solid var(--mas-semantic-color_border-primary);
  padding: 4px 0;
  z-index: 10 !important;
  width: 280px; /* todo: update this*/
}

/* ! hover */
.mas-option:hover {
  background-color: var(--mas-primitive-color_grey300);
}
.mas-option--selected:hover {
  background-color: var(--mas-primitive-color_blue600);
  color: var(--mas-semantic-color_text-reverse);
}
.mas-select_value:hover {
  box-shadow: 0 0 0 1px var(--mas-semantic-color_action-tiertiary--default);
}
/* ! pressed (active) */
.mas-option::after:active {
  position: absolute;
  content: '';
}
.mas-select_value:active,
.mas-select_value:focus-visible {
  box-shadow: 0 0 0 1px var(--mas-semantic-color_action-primary--default);
}
.mas-select_value-wrapper:active {
  box-shadow: 0 0 0 4px hsla(200, 100%, 42%, 0.16);
  border-radius: var(--mas-radius_2);
}

/* ! disabled */

.mas-select--disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
/* ! invalid */
.mas-select--invalid .mas-select_value {
  border: 1px solid var(--mas-primitive-color_red600);
}
.mas-select--invalid .mas-select_value:hover {
}
.mas-select_invalid-icon {
}

.mas-select_listbox-wrapper--closed {
  visibility: hidden;
}
