@import '@masoni/css-design-tokens/dist/index.css';

.mas-tag {
  display: inline-flex;
  align-items: center;  
  margin-right: 4px;
  font-feature-settings: 'calt' off;
  padding: var(--mas-web-component-tag-spacing-padding-top) var(--mas-web-component-tag-spacing-padding-right) var(--mas-web-component-tag-spacing-padding-bottom) var(--mas-web-component-tag-spacing-padding-left);
  border-radius: var(--mas-web-component-tag-border-radius-top-left) var(--mas-web-component-tag-border-radius-top-right) var(--mas-web-component-tag-border-radius-bottom-right) var(--mas-web-component-tag-border-radius-bottom-left);
  font: var(--mas-web-component-tag-typography-medium-label);
}

.mas-tag i{
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.mas-tag_size--small .mas-tag_label{
  font: var(--mas-web-component-tag-typography-small-label);
}
.mas-tag_size--medium .mas-tag_label{
  font-size: 14px;
}

.leading-icon {
  margin-right: 4px;
}

.mas-tag_color--default {
  background: var(--mas-web-component-tag-color-container);
  color: var(--mas-web-component-tag-color-label);
}

.mas-tag_color--orange{
  background: var(--decorative-surface-orange, #FBDED0);
  color: var(--decorative-text-orange, #A6400D);
}
.mas-tag_color--amber{
  background: var(--decorative-surface-amber, #FCEECF);
  color: var(--decorative-text-amber, #7A4700);
}
.mas-tag_color--green{
  background: var(--decorative-surface-green, #E8F4CD);
  color: var(--decorative-text-green, #465F11);
}
.mas-tag_color--teal{
  background: var(--decorative-surface-teal, #CBF6F5);
  color: var(--decorative-text-teal, #006B6A);
}
.mas-tag_color--blue{
  background: var(--decorative-surface-blue, #C8E9F9);
  color: var(--decorative-text-blue, #069);
}
.mas-tag_color--purple{
  background: var(--decorative-surface-purple, #F2E7F3);
  color: var(--decorative-text-purple, #904997);

}
.mas-tag_color--red{
  background: var(--decorative-surface-red, #FCD9DF);
  color: var(--decorative-text-red, #AA1830);
}
.mas-tag_color--roc{
  background: var(--decorative-surface-roc, #F9F9FA);
  color: var(--decorative-text-roc, #38383D);

}