@font-face {
    font-family: "system-and-device";
    src: url(".//system-and-device.ttf?af8562688a440017ed9522dc1b1dcdce") format("truetype"),
url(".//system-and-device.woff?af8562688a440017ed9522dc1b1dcdce") format("woff"),
url(".//system-and-device.woff2?af8562688a440017ed9522dc1b1dcdce") format("woff2");
}

i[class^="mas-"]:before, i[class*=" mas-"]:before {
    font-family: system-and-device !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mas-app-window-filled:before {
    content: "\f101";
}
.mas-backspace-filled:before {
    content: "\f102";
}
.mas-battery-charging-filled:before {
    content: "\f103";
}
.mas-battery-charging-vertical-filled:before {
    content: "\f104";
}
.mas-battery-empty-filled:before {
    content: "\f105";
}
.mas-battery-full-filled:before {
    content: "\f106";
}
.mas-battery-high-filled:before {
    content: "\f107";
}
.mas-battery-low-filled:before {
    content: "\f108";
}
.mas-battery-medium-filled:before {
    content: "\f109";
}
.mas-battery-plus-filled:before {
    content: "\f10a";
}
.mas-battery-plus-vertical-filled:before {
    content: "\f10b";
}
.mas-battery-vertical-empty-filled:before {
    content: "\f10c";
}
.mas-battery-vertical-full-filled:before {
    content: "\f10d";
}
.mas-battery-vertical-high-filled:before {
    content: "\f10e";
}
.mas-battery-vertical-low-filled:before {
    content: "\f10f";
}
.mas-battery-vertical-medium-filled:before {
    content: "\f110";
}
.mas-battery-warning-filled:before {
    content: "\f111";
}
.mas-battery-warning-vertical-filled:before {
    content: "\f112";
}
.mas-bell-filled:before {
    content: "\f113";
}
.mas-bell-ringing-filled:before {
    content: "\f114";
}
.mas-bell-simple-filled:before {
    content: "\f115";
}
.mas-bell-simple-ringing-filled:before {
    content: "\f116";
}
.mas-bell-simple-slash-filled:before {
    content: "\f117";
}
.mas-bell-simple-z-filled:before {
    content: "\f118";
}
.mas-bell-slash-filled:before {
    content: "\f119";
}
.mas-bell-z-filled:before {
    content: "\f11a";
}
.mas-bluetooth-connected-filled:before {
    content: "\f11b";
}
.mas-bluetooth-filled:before {
    content: "\f11c";
}
.mas-bluetooth-slash-filled:before {
    content: "\f11d";
}
.mas-bluetooth-x-filled:before {
    content: "\f11e";
}
.mas-browser-filled:before {
    content: "\f11f";
}
.mas-browsers-filled:before {
    content: "\f120";
}
.mas-cell-signal-full-filled:before {
    content: "\f121";
}
.mas-cell-signal-high-filled:before {
    content: "\f122";
}
.mas-cell-signal-low-filled:before {
    content: "\f123";
}
.mas-cell-signal-medium-filled:before {
    content: "\f124";
}
.mas-cell-signal-none-filled:before {
    content: "\f125";
}
.mas-cell-signal-slash-filled:before {
    content: "\f126";
}
.mas-cell-signal-x-filled:before {
    content: "\f127";
}
.mas-check-circle-filled:before {
    content: "\f128";
}
.mas-check-fat-filled:before {
    content: "\f129";
}
.mas-check-filled:before {
    content: "\f12a";
}
.mas-check-square-filled:before {
    content: "\f12b";
}
.mas-check-square-offset-filled:before {
    content: "\f12c";
}
.mas-checks-filled:before {
    content: "\f12d";
}
.mas-circuitry-filled:before {
    content: "\f12e";
}
.mas-cloud-arrow-down-filled:before {
    content: "\f12f";
}
.mas-cloud-arrow-up-filled:before {
    content: "\f130";
}
.mas-cloud-check-filled:before {
    content: "\f131";
}
.mas-cloud-slash-filled:before {
    content: "\f132";
}
.mas-cloud-warning-filled:before {
    content: "\f133";
}
.mas-cloud-x-filled:before {
    content: "\f134";
}
.mas-command-filled:before {
    content: "\f135";
}
.mas-computer-tower-filled:before {
    content: "\f136";
}
.mas-control-filled:before {
    content: "\f137";
}
.mas-cursor-click-filled:before {
    content: "\f138";
}
.mas-cursor-filled:before {
    content: "\f139";
}
.mas-desktop-filled:before {
    content: "\f13a";
}
.mas-desktop-tower-filled:before {
    content: "\f13b";
}
.mas-device-mobile-camera-filled:before {
    content: "\f13c";
}
.mas-device-mobile-filled:before {
    content: "\f13d";
}
.mas-device-mobile-speaker-filled:before {
    content: "\f13e";
}
.mas-device-tablet-camera-filled:before {
    content: "\f13f";
}
.mas-device-tablet-filled:before {
    content: "\f140";
}
.mas-device-tablet-speaker-filled:before {
    content: "\f141";
}
.mas-devices-filled:before {
    content: "\f142";
}
.mas-dot-filled:before {
    content: "\f143";
}
.mas-dot-outline-filled:before {
    content: "\f144";
}
.mas-dots-nine-filled:before {
    content: "\f145";
}
.mas-dots-six-filled:before {
    content: "\f146";
}
.mas-dots-six-vertical-filled:before {
    content: "\f147";
}
.mas-dots-three-circle-filled:before {
    content: "\f148";
}
.mas-dots-three-circle-vertical-filled:before {
    content: "\f149";
}
.mas-dots-three-filled:before {
    content: "\f14a";
}
.mas-dots-three-outline-filled:before {
    content: "\f14b";
}
.mas-dots-three-outline-vertical-filled:before {
    content: "\f14c";
}
.mas-dots-three-vertical-filled:before {
    content: "\f14d";
}
.mas-download-filled:before {
    content: "\f14e";
}
.mas-download-simple-filled:before {
    content: "\f14f";
}
.mas-flashlight-filled:before {
    content: "\f150";
}
.mas-gauge-filled:before {
    content: "\f151";
}
.mas-gear-filled:before {
    content: "\f152";
}
.mas-gear-six-filled:before {
    content: "\f153";
}
.mas-hand-swipe-left-filled:before {
    content: "\f154";
}
.mas-hand-swipe-right-filled:before {
    content: "\f155";
}
.mas-hand-tap-filled:before {
    content: "\f156";
}
.mas-hard-drive-filled:before {
    content: "\f157";
}
.mas-hard-drives-filled:before {
    content: "\f158";
}
.mas-key-return-filled:before {
    content: "\f159";
}
.mas-keyboard-filled:before {
    content: "\f15a";
}
.mas-laptop-filled:before {
    content: "\f15b";
}
.mas-lightbulb-filament-filled:before {
    content: "\f15c";
}
.mas-lightbulb-filled:before {
    content: "\f15d";
}
.mas-lightning-a-filled:before {
    content: "\f15e";
}
.mas-lightning-filled:before {
    content: "\f15f";
}
.mas-lightning-slash-filled:before {
    content: "\f160";
}
.mas-link-break-filled:before {
    content: "\f161";
}
.mas-link-filled:before {
    content: "\f162";
}
.mas-link-simple-break-filled:before {
    content: "\f163";
}
.mas-link-simple-filled:before {
    content: "\f164";
}
.mas-link-simple-horizontal-break-filled:before {
    content: "\f165";
}
.mas-link-simple-horizontal-filled:before {
    content: "\f166";
}
.mas-list-magnifying-glass-filled:before {
    content: "\f167";
}
.mas-magnifying-glass-filled:before {
    content: "\f168";
}
.mas-magnifying-glass-minus-filled:before {
    content: "\f169";
}
.mas-magnifying-glass-plus-filled:before {
    content: "\f16a";
}
.mas-monitor-filled:before {
    content: "\f16b";
}
.mas-monitor-play-filled:before {
    content: "\f16c";
}
.mas-mouse-filled:before {
    content: "\f16d";
}
.mas-mouse-simple-filled:before {
    content: "\f16e";
}
.mas-notification-filled:before {
    content: "\f16f";
}
.mas-nut-filled:before {
    content: "\f170";
}
.mas-option-filled:before {
    content: "\f171";
}
.mas-plug-charging-filled:before {
    content: "\f172";
}
.mas-plug-filled:before {
    content: "\f173";
}
.mas-plugs-connected-filled:before {
    content: "\f174";
}
.mas-plugs-filled:before {
    content: "\f175";
}
.mas-power-filled:before {
    content: "\f176";
}
.mas-qr-code-filled:before {
    content: "\f177";
}
.mas-radio-button-filled:before {
    content: "\f178";
}
.mas-scan-filled:before {
    content: "\f179";
}
.mas-sign-in-filled:before {
    content: "\f17a";
}
.mas-sign-out-filled:before {
    content: "\f17b";
}
.mas-sim-card-filled:before {
    content: "\f17c";
}
.mas-spinner-filled:before {
    content: "\f17d";
}
.mas-spinner-gap-filled:before {
    content: "\f17e";
}
.mas-swap-filled:before {
    content: "\f17f";
}
.mas-tabs-filled:before {
    content: "\f180";
}
.mas-toggle-left-filled:before {
    content: "\f181";
}
.mas-toggle-right-filled:before {
    content: "\f182";
}
.mas-upload-filled:before {
    content: "\f183";
}
.mas-upload-simple-filled:before {
    content: "\f184";
}
.mas-usb-filled:before {
    content: "\f185";
}
.mas-vibrate-filled:before {
    content: "\f186";
}
.mas-wifi-high-filled:before {
    content: "\f187";
}
.mas-wifi-low-filled:before {
    content: "\f188";
}
.mas-wifi-medium-filled:before {
    content: "\f189";
}
.mas-wifi-none-filled:before {
    content: "\f18a";
}
.mas-wifi-slash-filled:before {
    content: "\f18b";
}
.mas-wifi-x-filled:before {
    content: "\f18c";
}
