@import '@masoni/css-design-tokens/dist/index.css';

.mas-link {
  display: flex;
  align-items: center;
  gap: var(--mas-web-component-link-spacing-gap);
  color: var(--mas-web-component-link-color-content-default);
  text-decoration: none;
  width: fit-content;
  .mas-link_icon {
    display: inherit;
    --mas-icon_size: var(--mas-web-component-link-sizing-icon-width);
  }
}
.mas-link--disabled {
  opacity: 0.5;
}
.mas-link:visited {
  color: var(--mas-web-component-link-color-content-visited);
}
.mas-link:hover {
  color: var(--mas-web-component-link-color-content-hover);
}
.mas-link:active {
  color: var(--mas-web-component-link-color-content-active);
}
.mas-link:focus-visible {
  outline: none;
}

/* Size */
.mas-link_size--x-small {
  .mas-link_label {
    font: var(--mas-semantic-typography-all-screen-body4);
  }
}
.mas-link_size--small {
  .mas-link_label {
    font: var(--mas-semantic-typography-all-screen-body3);
  }
}
.mas-link_size--medium {
  .mas-link_label {
    font: var(--mas-semantic-typography-all-screen-body2);
  }
}
.mas-link_size--large {
  .mas-link_label {
    font: var(--mas-semantic-typography-all-screen-body1);
  }
}
