@import '@masoni/css-design-tokens/dist/index.css';
.mas-modal_container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalThree {
  background-color: var(--mas-web-component-modal-color-container);
  color: var(--mas-web-component-modal-color-content);
  filter: drop-shadow(var(--mas-web-component-modal-shadow-default));
  margin: 15% auto;
  border-radius: var(--mas-web-component-modal-border-radius-container-top-left)
    var(--mas-web-component-modal-border-radius-container-top-right)
    var(--mas-web-component-modal-border-radius-container-bottom-right)
    var(--mas-web-component-modal-border-radius-container-bottom-left);
  max-height: 90vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 20px;
  left: 20px;
  & > .mas-modal_header {
    font: var(--mas-web-component-modal-typography-default-heading);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  & > .mas-modal_content-scroll {
    min-height: 40px;
    gap: 16px;
    overflow: auto;
    max-height: calc(90vh - 200px);
    overflow-y: auto;
    scrollbar-color: #cccccc transparent;
    scrollbar-width: thin;
    & > .mas-modal_content {
      text-align: center;
      & > .mas-modal_content-text {
        font-size: var(--mas-typo_body-2-font-size);
        font-weight: var(--mas-typo_body-font-weight);
        font-family: var(--mas-core-font-family-barlow);
        line-height: var(--mas-typo_body-2-line-height);
        letter-spacing: 0px;
      }
      & > .custom-ng-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        & .with-margin-top {
          margin-top: 20px;
        }
      }
    }
  }
}
.mas-modal_size--small {
  .modalThree {
    width: 40%;
    min-height: 236px;
    padding: var(--mas-web-component-modal-spacing-small-padding-container-top)
      var(--mas-web-component-modal-spacing-small-padding-container-right)
      var(--mas-web-component-modal-spacing-small-padding-container-bottom)
      var(--mas-web-component-modal-spacing-small-padding-container-left);
    gap: var(--mas-web-component-modal-spacing-small-gap-container);
    & > .mas-modal_header {
      width: 100%;
      height: 32px;
      padding: var(--mas-web-component-modal-spacing-small-padding-title-area-top)
        var(--mas-web-component-modal-spacing-small-padding-title-area-right)
        var(--mas-web-component-modal-spacing-small-padding-title-area-bottom)
        var(--mas-web-component-modal-spacing-small-padding-title-area-left);
      gap: var(--mas-web-component-modal-spacing-small-gap-title-area);
      & > .mas-modal_header-title {
        max-width: 279px;
        height: 32px;
        color: var(--colors-blocks-content-text-styleguide-body, #212121);
        margin: 0;
      }
    }
    & > .mas-modal_content-scroll {
      width: 100%;
    }
    & > .mas-modal_footer {
      width: 100%;
      height: 84px;
      gap: var(--mas-web-component-modal-spacing-small-gap-button-area);
      padding: var(--mas-web-component-modal-spacing-small-padding-button-area-top)
        var(--mas-web-component-modal-spacing-small-padding-button-area-right)
        var(--mas-web-component-modal-spacing-small-padding-button-area-bottom)
        var(--mas-web-component-modal-spacing-small-padding-button-area-left);
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: auto;
      & > .mas-button {
        width: 100%;
        width: 100%;
      }
    }
  }
}

.mas-modal_size--medium {
  .modalThree {
    width: 64%;
    min-height: 204px;
    padding: 32px;
    gap: var(--mas-web-component-modal-spacing-medium-gap-container);
    & > .mas-modal_header {
      width: 100%;
      height: 32px;
      padding: var(--mas-web-component-modal-spacing-medium-padding-title-area-top)
        var(--mas-web-component-modal-spacing-medium-padding-title-area-right)
        var(--mas-web-component-modal-spacing-medium-padding-title-area-bottom)
        var(--mas-web-component-modal-spacing-medium-padding-title-area-left);
      & > .mas-modal_header-title {
        max-width: 488px;
        height: 32px;
        color: var(--colors-blocks-content-text-styleguide-body, #212121);
        gap: var(--mas-web-component-modal-spacing-medium-gap-title-area);
        margin: 0;
      }
    }
    & > .mas-modal_content-scroll {
      width: 100%;
    }
    & > .mas-modal_footer {
      width: 100%;
      height: 36px;
      text-align: right;
      display: flex;
      gap: var(--mas-web-component-modal-spacing-medium-gap-button-area);
      padding: var(--mas-web-component-modal-spacing-medium-padding-button-area-top)
        var(--mas-web-component-modal-spacing-medium-padding-button-area-right)
        var(--mas-web-component-modal-spacing-medium-padding-button-area-bottom)
        var(--mas-web-component-modal-spacing-medium-padding-button-area-left);
      justify-content: flex-end;
      margin-top: auto;
    }
  }
}

.mas-modal_size--large {
  .modalThree {
    width: 90%;
    min-height: 204px;
    padding: 32px;
    gap: var(--mas-web-component-modal-spacing-large-gap-container);
    & > .mas-modal_header {
      width: 100%;
      height: 32px;
      padding: var(--mas-web-component-modal-spacing-large-padding-title-area-top)
        var(--mas-web-component-modal-spacing-large-padding-title-area-right)
        var(--mas-web-component-modal-spacing-large-padding-title-area-bottom)
        var(--mas-web-component-modal-spacing-large-padding-title-area-left);
      & > .mas-modal_header-title {
        max-width: 788px;
        height: 32px;
        color: var(--colors-blocks-content-text-styleguide-body, #212121);
        margin: 0;
        gap: var(--mas-web-component-modal-spacing-large-gap-title-area);
      }
    }
    & > .mas-modal_content-scroll {
      width: 100%;
    }
    & > .mas-modal_footer {
      width: 100%;
      height: 36px;
      text-align: right;
      display: flex;
      gap: var(--mas-web-component-modal-spacing-large-gap-button-area);
      justify-content: flex-end;
      margin-top: auto;
      padding: var(--mas-web-component-modal-spacing-large-padding-button-area-top)
        var(--mas-web-component-modal-spacing-large-padding-button-area-right)
        var(--mas-web-component-modal-spacing-large-padding-button-area-bottom)
        var(--mas-web-component-modal-spacing-large-padding-button-area-left);
    }
  }
}

.mas-modal_footer-confirm-btn,
.mas-modal_footer-cancel-btn {
  gap: 8px;
  text-align: right;
}
