@import '@masoni/css-design-tokens/dist/index.css';

.mas-icon-button {
  display: flex;
  box-sizing: border-box;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  color: var(--text-reverse, #fff);
  font-feature-settings: 'calt' off;
  /* Body/Semibold/Body 3 */
  font-family: var(--mas-typo_font-family--inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}
a.mas-icon-button {
  cursor: pointer;
}
/* Primary button */
.mas-icon-button_variant--primary {
  color: var(--mas-web-component-icon-button-color-primary-content-icon);
  background-color: var(--mas-web-component-icon-button-color-primary-container-default);
}

.mas-icon-button_variant--primary:not(:disabled):hover {
  background: linear-gradient(var(--mas-web-component-icon-button-color-primary-container-hover), var(--mas-web-component-icon-button-color-primary-container-hover)), linear-gradient(var(--mas-web-component-icon-button-color-primary-container-default), var(--mas-web-component-icon-button-color-primary-container-default));
  background-blend-mode: multiply;
}

.mas-icon-button_variant--primary:not(:disabled):active {
  background: linear-gradient(var(--mas-web-component-icon-button-color-primary-container-active), var(--mas-web-component-icon-button-color-primary-container-active)), linear-gradient(var(--mas-web-component-icon-button-color-primary-container-default), var(--mas-web-component-icon-button-color-primary-container-default));
  background-blend-mode: multiply;
}

.mas-icon-button_variant--primary:disabled {
  opacity: var(--mas-web-component-icon-button-opacity-disabled);
  background-color: var(--mas-web-component-icon-button-color-primary-container-default);
}

/* Secondary button */
.mas-icon-button_variant--secondary {
  color: var(--mas-web-component-icon-button-color-secondary-content-icon);
  border: var(--mas-web-component-icon-button-border-width-default) solid var(--mas-web-component-icon-button-color-secondary-border-default);
  background-color: var(--mas-web-component-icon-button-color-secondary-container-default);
}

.mas-icon-button_variant--secondary:not(:disabled):hover {
  background: linear-gradient(var(--mas-web-component-icon-button-color-secondary-container-hover), var(--mas-web-component-icon-button-color-secondary-container-hover)), linear-gradient(var(--mas-web-component-icon-button-color-secondary-container-default), var(--mas-web-component-icon-button-color-secondary-container-default));
}

.mas-icon-button_variant--secondary:not(:disabled):active {
  background: linear-gradient(var(--mas-web-component-icon-button-color-secondary-container-active), var(--mas-web-component-icon-button-color-secondary-container-active)), linear-gradient(var(--mas-web-component-icon-button-color-secondary-container-default), var(--mas-web-component-icon-button-color-secondary-container-default));
}

.mas-icon-button_variant--secondary:disabled {
  opacity: var(--mas-web-component-icon-button-opacity-disabled);
  background-color: var(--mas-web-component-icon-button-color-secondary-container-default);
}

/* Tertiary button */
.mas-icon-button_variant--tertiary {
  color: var(--mas-web-component-icon-button-color-tertiary-content-icon);
  background-color: transparent;
}

.mas-icon-button_variant--tertiary:not(:disabled):hover {
  background: var(--mas-web-component-icon-button-color-tertiary-container-hover);
}

.mas-icon-button_variant--tertiary:not(:disabled):active {
  background: var(--mas-web-component-icon-button-color-tertiary-container-active);
}

.mas-icon-button_variant--tertiary:disabled {
  opacity: var(--mas-web-component-icon-button-opacity-disabled);
}

/* Neutral button */
.mas-icon-button_variant--neutral {
  color: var(--mas-web-component-icon-button-color-neutral-content-icon);
  background-color: transparent;
}

.mas-icon-button_variant--neutral:not(:disabled):hover {
  background: var(--mas-web-component-icon-button-color-neutral-container-hover);
}

.mas-icon-button_variant--neutral:not(:disabled):active {
  background: var(--mas-web-component-icon-button-color-neutral-container-active);
}

.mas-icon-button_variant--neutral:disabled {
  opacity: var(--mas-web-component-icon-button-opacity-disabled);
}

/* Sizes */
.mas-icon-button_size--small {
  font-size: 13px;
  --mas-icon_size:13px;
  font-weight: 600;
  line-height: var(--mas-web-component-icon-button-sizing-small-start-icon);
  padding: var(--mas-web-component-icon-button-spacing-small-padding-top) var(--mas-web-component-icon-button-spacing-small-padding-right) var(--mas-web-component-icon-button-spacing-small-padding-bottom) var(--mas-web-component-icon-button-spacing-small-padding-left);
  height: 32px;
  width: 32px;
}
.mas-icon-button_size--medium {
  font-size: 16.25px;
  --mas-icon_size:16.25px;
  font-weight: 600;
  line-height: var(--mas-web-component-icon-button-sizing-medium-start-icon);
  padding: var(--mas-web-component-icon-button-spacing-medium-padding-top) var(--mas-web-component-icon-button-spacing-medium-padding-right) var(--mas-web-component-icon-button-spacing-medium-padding-bottom) var(--mas-web-component-icon-button-spacing-medium-padding-left);
  height: 44px;
  width: 44px;
}
.mas-icon-button_size--large {
  --mas-icon_size:19.5px;
  font-size: 19.5px;
  font-weight: 600;
  line-height: var(--mas-web-component-icon-button-sizing-large-start-icon);
  padding: var(--mas-web-component-icon-button-spacing-large-padding-top) var(--mas-web-component-icon-button-spacing-large-padding-right) var(--mas-web-component-icon-button-spacing-large-padding-bottom) var(--mas-web-component-icon-button-spacing-large-padding-left);
  height: 56px;
  width: 56px;
}
/* Shapes */
.mas-icon-button_shape--rounded {
  border-radius: var(--mas-web-component-icon-button-border-radius-rounded);
}

.mas-icon-button_shape--square {
  border-radius: var(--mas-web-component-icon-button-border-radius-square);
}
/* Button icons  */
/* .mas-icon-button--icon-alone {
  inline-size: 32px;
  block-size: 32px;
  padding: 8px;
}

.mas-icon-button--icon-alone i[class^='mas-'] {
  font-size: 16px;
}

.mas-icon-button_size--small.mas-icon-button--icon-alone {
  inline-size: 32px;
  block-size: 32px;
  padding: 8px;
}

.mas-icon-button_size--small.mas-icon-button--icon-alone i[class^='mas-'] {
  font-size: 16px;
}

.mas-icon-button_size--medium.mas-icon-button--icon-alone {
  inline-size: 40px;
  block-size: 40px;
  padding: 12px;
}

.mas-icon-button_size--medium.mas-icon-button--icon-alone i[class^='mas-'] {
  font-size: 16px;
} */

.mas-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 16px;
}
