@import '@masoni/css-design-tokens/dist/index.css';

.mas-icon-button {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: var(--mas-radius_full); 
  color: var(--text-reverse, #FFF);
  font-feature-settings: 'calt' off;
  /* Body/Semibold/Body 3 */ 
  font-family: var(--mas-typo_font-family--inter); 
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 44px;
}
a.mas-icon-button {
  cursor: pointer;
}
/* Primary button */
.mas-icon-button_variant--primary {
  background-color: var(--action-primary-default, #007AB7);  
}

.mas-icon-button_variant--primary:not(:disabled):hover {
  background-color: var(--action-primary-hovered, #069); 
}

.mas-icon-button_variant--primary:not(:disabled):active {
  background-color: var(--action-primary-pressed, #005885);
}

.mas-icon-button_variant--primary:disabled {
  opacity: 0.5;
  background-color: var(--action-primary-default, #005885);
}
 
/* Secondary button */
.mas-icon-button_variant--secondary {
  color: var(--text-primary, #0C0C0D);
  border: 1px solid var(--border-primary, #D7D7DB);
  background: var(--action-reverse-default, #FFF); 
}

.mas-icon-button_variant--secondary:not(:disabled):hover {
  border: 1px solid var(--border-primary, #D7D7DB);
background: var(--action-reverse-hovered, #F9F9FA);
}

.mas-icon-button_variant--secondary:not(:disabled):active {
  border: 1px solid var(--border-primary, #D7D7DB);
background: var(--action-reverse-pressed, #EDEDF0); 
}

.mas-icon-button_variant--secondary:disabled {
  border: 1px solid var(--border-primary, #D7D7DB);
opacity: 0.5;
background: var(--action-reverse-default, #FFF);
}

/* Tertiary button */
.mas-icon-button_variant--tertiary {
  color: var(--text-primary, #0C0C0D);
}

.mas-icon-button_variant--tertiary:not(:disabled):hover {
  background: var(--alpha-grey-hovered, rgba(144, 144, 162, 0.08));
}

.mas-icon-button_variant--tertiary:not(:disabled):active {
  background-color: var(--alpha-grey-pressed, rgba(144, 144, 162, 0.16));
}

.mas-icon-button_variant--tertiary:disabled {
  opacity: 0.5;
}

/* Accent button */
.mas-icon-button_variant--accent {
  background-color: var(--action-brand-default, #C74D10);  
}

.mas-icon-button_variant--accent:not(:disabled):hover {
  background-color: var(--action-brand-hovered, #A6400D); 
}

.mas-icon-button_variant--accent:not(:disabled):active {
  background-color: var(--action-brand-pressed, #84330A);
}

.mas-icon-button_variant--accent:disabled {
  opacity: 0.5;
  background-color: var(--action-brand-default, #C74D10);
}

/* Sizes */
.mas-icon-button_size--small {
  font-size: 14px; 
  font-weight: 600;
  line-height: 20px;
  padding: 8px 16px;
  height: 36px;
}

.mas-icon-button_size--medium {
  font-size: 16px; 
  font-weight: 600;
  line-height: 24px;
  padding: 10px 20px;
}


/* Button icons  */
.mas-icon-button--icon-alone {
  inline-size: 32px;
  block-size: 32px;
  padding: 8px;
}

.mas-icon-button--icon-alone i[class^='mas-'] {
  font-size: 16px;
}

.mas-icon-button_size--small.mas-icon-button--icon-alone {
  inline-size: 32px;
  block-size: 32px;
  padding: 8px;
}

.mas-icon-button_size--small.mas-icon-button--icon-alone i[class^='mas-'] {
  font-size: 16px;
}

.mas-icon-button_size--medium.mas-icon-button--icon-alone {
  inline-size: 40px;
  block-size: 40px;
  padding: 12px;
}

.mas-icon-button_size--medium.mas-icon-button--icon-alone i[class^='mas-'] {
  font-size: 16px;
}

.mas-icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-size: 16px; 
  }
 