@import '@masoni/css-design-tokens/dist/index.css';

.mas-alert {
  display: inline-flex;
  align-items: flex-start;
  position: fixed;
  right: 2%;
  top: 10%;
  width: 400px;
  border-radius: var(--mas-web-component-alert-border-radius-container-top-left)
    var(--mas-web-component-alert-border-radius-container-top-right)
    var(--mas-web-component-alert-border-radius-container-bottom-right)
    var(--mas-web-component-alert-border-radius-container-bottom-left);
  background: var(--mas-web-component-alert-color-container-area);
  filter: drop-shadow(var(--mas-web-component-alert-shadow-default));
  opacity: 0;
  z-index: 999;
}

.mas-alert_icon {
  display: flex;
  padding: 8px var(--mas-web-component-alert-spacing-padding-icon-area-right);
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--mas-web-component-alert-color-content);
}

.mas-alert_icon i {
  width: 16px;
  height: 16px;
}

.mas-alert_type--info {
  background: var(--mas-web-component-alert-color-icon-area-info);
}

.mas-alert_type--error {
  background: var(--mas-web-component-alert-color-icon-area-error);
}

.mas-alert_type--success {
  background: var(--mas-web-component-alert-color-icon-area-success);
}

.mas-alert_type--warning {
  background: var(--mas-web-component-alert-color-icon-area-warning);
}

.mas-alert_type--warning .mas-warning-circle-filled::before {
  color: var(--mas-web-component-alert-color-content);
}

.mas-alert_content {
  display: flex;
  flex-direction: column;
  color: var(--mas-web-component-alert-color-content);
  font: var(--mas-web-component-alert-typography-content);
  padding: var(--mas-web-component-alert-spacing-padding-container-area-top)
    var(--mas-web-component-alert-spacing-padding-container-area-right)
    var(--mas-web-component-alert-spacing-padding-container-area-bottom)
    var(--mas-web-component-alert-spacing-padding-container-area-left);
  gap: var(--mas-web-component-alert-spacing-gap-container-area);
  & > .mas-alert_description {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding: var(--mas-web-component-alert-spacing-padding-content-area-top)
      var(--mas-web-component-alert-spacing-padding-content-area-right)
      var(--mas-web-component-alert-spacing-padding-content-area-bottom)
      var(--mas-web-component-alert-spacing-padding-content-area-left);
    gap: 10px;
    & > .mas-alert_description-label {
      font: var(--mas-web-component-alert-typography-content);
    }
  }
}

.mas-alert_title {
  width: 336px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--mas-web-component-alert-spacing-gap-title-area-default);
  flex: 1 0 0;
  & > .mas-alert_title-label {
    font: var(--mas-web-component-alert-typography-title);
    padding: var(--mas-web-component-alert-spacing-padding-title-area-top)
      var(--mas-web-component-alert-spacing-padding-title-area-right) var(--mas-web-component-alert-spacing-padding-title-area-bottom)
      var(--mas-web-component-alert-spacing-padding-title-area-left);
  }
  & > .mas-alert_close {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: var(--mas-web-component-alert-color-content);
  }
}

.mas-alert_close .mas-x-outlined,
.mas-alert_close .mas-math-and-finance--outlined {
  height: 16px;
  width: 16px;
  display: inline-grid;
  justify-content: center;
  align-content: center !important;
}

.mas-alert_close:hover {
  cursor: pointer;
  background: rgba(50, 50, 50, 0.7);
}

.mas-alert_close:active {
  background: rgba(100, 100, 100, 0.5);
}

.mas-alert--show {
  opacity: 1;
  animation: AlertFadeIn 0.3s ease-in-out;
}

.mas-alert--hide {
  opacity: 0;
  animation: AlertFadeOut 0.3s ease-in-out;
}

@keyframes AlertFadeIn {
  0% {
    opacity: 0;
    top: 5%;
  }
  100% {
    opacity: 1;
    top: 10%;
  }
}

@keyframes AlertFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
