@import '@masoni/css-design-tokens/dist/index.css';

.pagination{
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }

  .pagination-small-Numbers{
    min-width: 1039px;
    min-height: 36px;
  }
  .pagination-small-Input {
    min-width: 574px;
    min-height: 36px;
  }
  .pagination-small-medium {
    min-width: 1226px;
    min-height: 44px;
  }
  .pagination-medium--Numbers{
    min-width: 639px;
    min-height: 44px;
  }
  

  .button-tertiary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--Text-Primary, #0C0C0D);
    font-feature-settings: 'calt' off;
    font-family:var(--mas-typo_font-family--inter); 
    font-style: normal;
    font-weight: 600;
    border-radius: 8px;
  }
  .button-tertiary-small {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    width: 36px;
    height: 36px;
  }
  
  .button-tertiary-medium {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 24px;
    width: 44px;
    height: 44px;
  }
  .button-tertiary:not(:disabled):hover {
    background: var(--alpha-grey-hovered, rgba(144, 144, 162, 0.08));
  }
  
  
  .bbutton-tertiary:not(:disabled):active,
  .button-active {
      border: 1px solid var(--Action-Primary-Default, #007AB7);
      background: var(--Surface-Primary, #FFF);
      color: var(--Action-Primary-Default, #007AB7);
  }

  .totalpages{
    min-width: 37px;
    min-height: 36px;
    display: flex;
    padding: 0px 8px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: var(--Text-Primary, #0C0C0D);
    text-align: center;
    font-feature-settings: 'calt' off;
    font-family: var(--mas-typo_font-family--inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .containerItemsPerPage{
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 223px;
    min-height: 36px;


  }
  .custom-dropdown{
    position: relative !important;
  }


  
  .custom-dropdown .mas-action-dropdown_listbox-wrapper {
    right: 0px !important;
  }
  
 .input{
    display: flex;
    align-items: center;
    min-width: 70px;
    min-height: 36px;
 }

  .items-pagination{
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .item-counter{
    color: var(--Text-Primary, #0C0C0D);
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
  }
  .item-counter-small{
    font-size: 14px;
    line-height: 20px; 
    min-width: 87px;

  }
  .item-counter-medium{
    font-size: 16px;
    line-height: 24px;
    min-width: 99px;
  }


  .mas-text-input{
    display: flex;
    font-feature-settings: 'calt' off;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 8px;
    outline: none;
    transition: var(--mas-transition_focus-visible);
    border-radius: 8px;
    border: 1px solid var(--Border-Primary, #D7D7DB);
    background: var(--color-text-inverse, #FFF);
    color: var(--Text-Primary, #0C0C0D);
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    cursor: pointer;
  }
  .mas-text-input-small{
    padding: 8px 12px;
    width: 36px;
    height: 36px;
    line-height: 20px; 
  }
  .mas-text-input-medium{ 
    padding: 10px 12px;
    width: 44px;
    height: 44px;
    line-height: 24px; 
  }

  
  
