@font-face {
    font-family: "security-and-warnings";
    src: url(".//security-and-warnings.ttf?7d3a941060fe9508bfe6a9ea293c4a9c") format("truetype"),
url(".//security-and-warnings.woff?7d3a941060fe9508bfe6a9ea293c4a9c") format("woff"),
url(".//security-and-warnings.woff2?7d3a941060fe9508bfe6a9ea293c4a9c") format("woff2");
}

i[class^="mas-"]:before, i[class*=" mas-"]:before {
    font-family: security-and-warnings !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mas-detective-outlined:before {
    content: "\f101";
}
.mas-fingerprint-outlined:before {
    content: "\f102";
}
.mas-fingerprint-simple-outlined:before {
    content: "\f103";
}
.mas-fire-extinguisher-outlined:before {
    content: "\f104";
}
.mas-info-outlined:before {
    content: "\f105";
}
.mas-key-outlined:before {
    content: "\f106";
}
.mas-keyhole-outlined:before {
    content: "\f107";
}
.mas-lock-key-open-outlined:before {
    content: "\f108";
}
.mas-lock-key-outlined:before {
    content: "\f109";
}
.mas-lock-laminated-open-outlined:before {
    content: "\f10a";
}
.mas-lock-laminated-outlined:before {
    content: "\f10b";
}
.mas-lock-open-outlined:before {
    content: "\f10c";
}
.mas-lock-outlined:before {
    content: "\f10d";
}
.mas-lock-simple-open-outlined:before {
    content: "\f10e";
}
.mas-lock-simple-outlined:before {
    content: "\f10f";
}
.mas-password-outlined:before {
    content: "\f110";
}
.mas-prohibit-inset-outlined:before {
    content: "\f111";
}
.mas-prohibit-outlined:before {
    content: "\f112";
}
.mas-question-outlined:before {
    content: "\f113";
}
.mas-radioactive-outlined:before {
    content: "\f114";
}
.mas-seal-check-outlined:before {
    content: "\f115";
}
.mas-seal-outlined:before {
    content: "\f116";
}
.mas-seal-question-outlined:before {
    content: "\f117";
}
.mas-seal-warning-outlined:before {
    content: "\f118";
}
.mas-shield-check-outlined:before {
    content: "\f119";
}
.mas-shield-checkered-outlined:before {
    content: "\f11a";
}
.mas-shield-chevron-outlined:before {
    content: "\f11b";
}
.mas-shield-outlined:before {
    content: "\f11c";
}
.mas-shield-plus-outlined:before {
    content: "\f11d";
}
.mas-shield-slash-outlined:before {
    content: "\f11e";
}
.mas-shield-star-outlined:before {
    content: "\f11f";
}
.mas-shield-warning-outlined:before {
    content: "\f120";
}
.mas-siren-outlined:before {
    content: "\f121";
}
.mas-vault-outlined:before {
    content: "\f122";
}
.mas-wall-outlined:before {
    content: "\f123";
}
.mas-warning-circle-outlined:before {
    content: "\f124";
}
.mas-warning-diamond-outlined:before {
    content: "\f125";
}
.mas-warning-octagon-outlined:before {
    content: "\f126";
}
.mas-warning-outlined:before {
    content: "\f127";
}
