@import '@masoni/css-design-tokens';

.mas-radio-button {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  align-items: center;
  position: relative;
}
.mas-radio-button--large {
  margin-top: 5.5px;
}
.mas-radio-button--large > .mas-radio-button_touch-target {
  width: var(--mas-web-component-radio-button-sizing-large-container-width);
  height: var(--mas-web-component-radio-button-sizing-large-container-height);
}
.mas-radio-button--large > .mas-radio-button_label {
  font: var(--mas-web-component-radio-button-typography-large-label);
}
.mas-radio-button--large > .mas-radio-button-container {
  border-width: var(--mas-web-component-radio-button-border-width-large-container);
  width: var(--mas-web-component-radio-button-sizing-large-container-width);
  height: var(--mas-web-component-radio-button-sizing-large-container-height);
  /* margin-inline-start: var(--mas-web-component-radio-button-spacing-large-gap); */
  margin-block-start: 0px;
}
.mas-radio-button_touch-target {
  position: absolute;
  z-index: 1;
  width: var(--mas-web-component-radio-button-sizing-small-container-width);
  height: var(--mas-web-component-radio-button-sizing-small-container-height);
  border-radius: var(--mas-semantic-border-radius-full);
}

.hidden-accessible[type='radio'] {
  position: absolute;
  opacity: 0;
}
.mas-radio-button_label {
  font: var(--mas-web-component-radio-button-typography-small-label);
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: var(--mas-web-component-radio-button-color-label-default);
  margin-inline-start: var(--mas-web-component-radio-button-spacing-small-gap);
}

.mas-radio-button-container {
  box-sizing: border-box;
  display: flex;
  border-width: var(--mas-web-component-radio-button-border-width-small-container);
  border-style: solid;
  margin-block-start: 0px;
  justify-content: center;
  align-items: center;
  width: var(--mas-web-component-radio-button-sizing-small-container-width);
  height: var(--mas-web-component-radio-button-sizing-small-container-height);
  border-radius: var(--mas-semantic-border-radius-full);
  border-color: var(--mas-web-component-radio-button-color-border-uncheck-default);
  transition: var(--mas-transition_focus-visible);
}

.hidden-accessible:not(:checked, :disabled) + .mas-radio-button_touch-target:hover {
  box-shadow: 0 0 0 4px
    var(--mas-web-component-radio-button-color-halo-uncheck-hover);
}
.hidden-accessible:checked:not(:disabled) + .mas-radio-button_touch-target:hover {
  box-shadow: 0 0 0 4px
    var(--mas-web-component-radio-button-color-halo-check-hover);
}
.hidden-accessible:not(:checked, :disabled) + .mas-radio-button_touch-target:active {
  box-shadow: 0 0 0 4px
    var(--mas-web-component-radio-button-color-halo-uncheck-active);
}
.hidden-accessible:checked:not(:disabled) + .mas-radio-button_touch-target:active {
  box-shadow: 0 0 0 4px
    var(--mas-web-component-radio-button-color-halor-check-active);
}
.mas-radio-button--active {
  background-color: var(--mas-web-component-radio-button-color-container-check);
  border-color: var(--mas-web-component-radio-button-color-container-check) !important;
}
.mas-radio-button--disabled {
  opacity: var(--mas-web-component-radio-button-opacity-disabled);
  cursor: not-allowed;
}
.mas-radio-group {
  display: flex;
}
.mas-radio-group--vertical {
  .mas-radio-group {
    flex-direction: column;
  }
}
.mas-radio-group--horizontal {
  .mas-radio-group {
    flex-direction: row;
    gap: 32px;
  }
}
