@import '@masoni/css-design-tokens/dist/index.css';
.mas-badge {
  display: flex;
  border-radius: var(--mas-web-component-badge-border-radius-container-top-left)
    var(--mas-web-component-badge-border-radius-container-top-right)
    var(--mas-web-component-badge-border-radius-container-bottom-right)
    var(--mas-web-component-badge-border-radius-container-bottom-left);
  background-color: var(--mas-web-component-badge-color-container);
  color: var(--mas-web-component-badge-color-content);
  box-shadow: inset 0 0 0 1px var(--mas-semantic-primary--default);
}
.mas-badge_content {
  display: inline-flex;
  font: var(--mas-web-component-badge-typography-default-label);
}
.mas-badge_type--number-minor {
  padding-inline: 0;
}
/* ! Size */
.mas-badge_size--small {
  width: var(--mas-web-component-badge-sizing-small-width);
  block-size: var(--mas-web-component-badge-sizing-small-height);
  font-size: var(--mas-web-component-badge-sizing-small-width) !important;
}

.mas-badge_size--medium {
  height: var(--mas-web-component-badge-sizing-medium-height);
  width: fit-content;
  font-size: var(--mas-web-component-badge-sizing-medium-height) !important;
  padding-block: var(--mas-web-component-badge-spacing-padding-large-top);
  padding-inline: var(--mas-web-component-badge-spacing-padding-large-left);
}

.mas-badge_size--large {
  width: fit-content;
  height: var(--mas-web-component-badge-sizing-large-height);
  font-size: var(--mas-web-component-badge-sizing-large-height) !important;
  padding-block: var(--mas-web-component-badge-spacing-padding-large-top);
  padding-inline: var(--mas-web-component-badge-spacing-padding-large-left);
}

/* ! Color */
.mas-badge_color--success {
  background-color: var(--mas-semantic-success--default);
  box-shadow: none;
}
.mas-badge_color--warning {
  background-color: var(--mas-semantic-warning--default);
  box-shadow: none;
}
.mas-badge_color--alert {
  background-color: var(--mas-semantic-alert--default);
  box-shadow: none;
}
.mas-badge_color--primary {
  background-color: var(--mas-web-component-badge-color-container);
}
.mas-badge_color--brand {
  background-color: var(--mas-semantic-brand--default);
  box-shadow: none;
}
