@import '@masoni/css-design-tokens/dist/index.css';

.mas-tooltip {
  position: absolute;
  display: none;
  z-index: 1060;
  width: max-content;
  max-width: 200px;
  opacity: 0;
  background: var(--mas-web-component-tooltip-color-container);
  padding: var(--mas-web-component-tooltip-spacing-padding-container-top)
    var(--mas-web-component-tooltip-spacing-padding-container-right)
    var(--mas-web-component-tooltip-spacing-padding-container-bottom)
    var(--mas-web-component-tooltip-spacing-padding-container-left);
  gap: 8px;
  box-shadow: 0px 3px 3px 0px rgba(115, 115, 115, 0.25);
  border-radius: var(--mas-web-component-tooltip-border-radius-container-top-left)
    var(--mas-web-component-tooltip-border-radius-container-top-right)
    var(--mas-web-component-tooltip-border-radius-container-bottom-right)
    var(--mas-web-component-tooltip-border-radius-container-bottom-left);
  color: var(--mas-web-component-tooltip-color-content);
  font-feature-settings: 'calt' off;
  font: var(--mas-web-component-tooltip-typography-label);
  .mas-tooltip_arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
}
.mas-tooltip_container {
  position: relative;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  margin: 0px;
}
.mas-tooltip_padding-bar {
  position: absolute;
  padding: 10px;
  transform: translateY(20px);
}
.mas-tooltip {
  &.top-left,
  &.top-right,
  &.top {
    .mas-tooltip_padding-bar {
      bottom: 0;
      right: 0;
      transform: translateY(20px);
      width: inherit;
    }
  }
  &.bottom-left,
  &.bottom-right,
  &.bottom {
    .mas-tooltip_padding-bar {
      left: 0;
      top: 0;
      transform: translateY(-20px);
      width: inherit;
    }
  }
  &.left {
    display: inline-block;
    left: 0;
    top: 50%;
    transform: translate(calc(-100% - 12px), -50%);
    .mas-tooltip_padding-bar {
      top: 0;
      right: 0;
      height: 100%;
      transform: translateX(20px);
    }
    .mas-tooltip_arrow {
      top: 50%;
      transform: translateY(-50%);
      right: -4px;
      border-width: 4px 0 4px 4px;
      border-left-color: var(--mas-web-component-tooltip-color-container);
      color: transparent;
    }
  }
  &.right {
    display: inline-block;
    right: 0;
    top: 50%;
    transform: translate(calc(100% + 12px), -50%);
    .mas-tooltip_padding-bar {
      top: 0;
      left: 0;
      height: 100%;
      transform: translateX(-20px);
    }
    .mas-tooltip_arrow {
      left: -4px;
      border-width: 4px 4px 4px 0;
      border-right-color: var(--mas-web-component-tooltip-color-container);
      color: transparent;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.top {
    display: inline-block;
    top: 0;
    left: 52%;
    transform: translate(-50%, calc(-100% - 12px));
    .mas-tooltip_arrow {
      bottom: -4px;
      border-width: 4px 4px 0;
      border-top-color: var(--mas-web-component-tooltip-color-container);
      color: transparent;
      left: 50%;
      transform: translate(-50%, 0px);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  }
  &.top-left {
    display: inline-block;
    top: 0;
    left: 0;
    transform: translate(0%, calc(-100% - 12px));
    .mas-tooltip_arrow {
      bottom: -4px;
      border-width: 4px 4px 0;
      border-top-color: var(--mas-web-component-tooltip-color-container);
      color: transparent;
      left: 15px;
    }
  }
  &.top-right {
    display: inline-block;
    top: 0;
    right: 0;
    transform: translate(0%, calc(-100% - 12px));
    .mas-tooltip_arrow {
      bottom: -4px;
      border-width: 4px 4px 0;
      border-top-color: var(--mas-web-component-tooltip-color-container);
      color: transparent;
      right: 15px;
    }
  }
  &.bottom {
    display: inline-block;
    bottom: 0;
    left: 52%;
    transform: translate(-50%, calc(100% + 12px));
    .mas-tooltip_arrow {
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
      border-width: 0 4px 4px;
      border-bottom-color: var(--mas-web-component-tooltip-color-container);
      color: transparent;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  }
  &.bottom-left {
    display: inline-block;
    bottom: 0;
    left: 0;
    transform: translate(0%, calc(100% + 12px));
    .mas-tooltip_arrow {
      top: -4px;
      left: 15px;
      border-width: 0 4px 4px;
      border-bottom-color: var(--mas-web-component-tooltip-color-container);
      color: transparent;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  }
  &.bottom-right {
    display: inline-block;
    bottom: 0;
    right: 0;
    transform: translate(0%, calc(100% + 12px));
    .mas-tooltip_arrow {
      top: -4px;
      right: 15px;
      border-width: 0 4px 4px;
      border-bottom-color: var(--mas-web-component-tooltip-color-container);
      color: transparent;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  }
}

.mas-tooltip_content {
  font: var(--mas-web-component-tooltip-typography-label);
}
