@import '@masoni/css-design-tokens/dist/index.css';

.mas-navigation-bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 64px;
  padding: 12px;
  .start-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    .mas-navigation-bar_brand-logo {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      .product-name {
        color: var(--Text-Primary, #0c0c0d);
        line-height: 28px;
      }
    }
  }
  .mas-navigation-bar_action {
    display: flex;
    align-items: center;
    gap: 8px;
    .mas-navigation-bar_account {
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}
/* size */
.mas-navigation-bar.mas-navigation-bar_small {
  .mas-navigation-bar_search-bar {
    position: absolute;
    top: 64px;
    left: 0;
    padding: 0 12px 12px 12px;
    width: 100%;
  }
  .mas-navigation-bar_action {
    .mas-navigation-bar_search {
      display: none;
    }
    .mas-navigation-bar_question-mark {
      display: none;
    }
    .mas-navigation-bar_setting {
      display: none;
    }
    .mas-navigation-bar_show-apps {
      display: none;
    }
    .mas-navigation-bar_button {
      display: none;
    }
  }
}
.mas-navigation-bar.mas-navigation-bar_medium {
  .mas-navigation-bar_search-bar {
    position: absolute;
    top: 64px;
    left: 0;
    padding: 0 12px 12px 12px;
    width: 100%;
  }
}
.mas-navigation-bar.mas-navigation-bar_large {
  .mas-navigation-bar_search-bar {
    width: 644px;
  }
}
