@import '@masoni/css-design-tokens/dist/index.css';

.mas-text-input {
  width: 280px;
  font-family: var(--mas-typo_font-family--inter);
  font-weight: var(--mas-typo_body-font-weight);
  font-size: var(--mas-typo_body-3-font-size);
  line-height: var(--mas-typo_body-3-line-height);
}
.mas-text-input_input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 1px var(--mas-semantic-color_border-primary);
  border-radius: var(--mas-radius_2);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  min-inline-size: 280px;
  inline-size: 280px;
  block-size: 32px;
  padding-inline: 12px;
  cursor: pointer;
  gap: 8px;
}
.mas-text-input-min-line {
  /* width: 100%; */
}

.mas-text-input_input {
  display: block;
  min-inline-size: 208px;
  inline-size: 100%;
  background-color: var(--mas-semantic-color-surface-primary);
  cursor: pointer;
  outline: none;
  transition: var(--mas-transition_focus-visible);
}
.mas-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding-top: 0px;
}
.mas-text-input input::placeholder {
  user-select: none;
  color: var(--mas-semantic-color_text-tiertiary);
}
/* ! hover */
:not(.mas-text-input--disabled) > .mas-text-input_input-wrapper:hover {
  box-shadow: 0 0 0 1px var(--mas-semantic-color_action-tiertiary--default);
}
:not(.mas-text-input--disabled) > .mas-text-input_input-wrapper:hover {
  box-shadow: 0 0 0 1px var(--mas-semantic-color_action-primary--default), 0 0 0 4px hsla(200, 100%, 42%, 0.16);
}
/* ! invalid */
.mas-text-input--invalid .mas-text-input_input-wrapper {
  box-shadow: 0 0 0 1px var(--mas-primitive-color_red600);
}
.mas-text-input--invalid .mas-text-input_input-wrapper:hover {
  box-shadow: 0 0 0 1px var(--mas-primitive-color_red600),
    0 0 0 4px
      hsla(
        var(--mas-primitive-color_red500--h),
        var(--mas-primitive-color_red500--s),
        var(--mas-primitive-color_red500--l),
        0.16
      );
}

/* !Size */
.mas-text-input--medium {
  font-family: var(--mas-typo_font-family--inter);
  font-weight: var(--mas-typo_body-font-weight);
  font-size: var(--mas-typo_body-2-font-size);
  line-height: var(--mas-typo_body-2-line-height);

  .mas-text-input_input-wrapper {
    block-size: 40px;
  }
}
/* ! disabled */
.mas-text-input--disabled .mas-text-input_input-wrapper {
  opacity: 0.4;
}
/* ! Filled */
.mas-text-input--filled input::placeholder {
  color: var(--mas-semantic-color_text-primary);
}
/* ! Focus */
.mas-text-input--focus {
  box-shadow: 0 0 0 1px var(--mas-semantic-color_action-primary--default), 0 0 0 4px hsla(200, 100%, 42%, 0.16);
}

.mas-text-input input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
