@import '@masoni/css-design-tokens/dist/index.css';
.mas-navigation-drawer {
  .mas-navigation-drawer_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid var(--mas-semantic-color_border-secondary);
    height: 100%;
    width: fit-content;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: var(--mas-semantic-color_surface-primary);
    .mas-navigation-drawer_header {
      width: inherit;
      height: 64px;
      padding: 12px;
      gap: 8px;
    }
    .mas-navigation-drawer-section {
      .section-heading {
        display: flex;
        padding: 6px 8px 6px 8px;
        align-items: center;
        user-select: none;
      }
      .mas-navigation-drawer-section_container {
        padding: 12px;
      }
    }
    .mas-navigation-drawer_footer {
      position: fixed;
      bottom: 12px;
      .mas-navigation-drawer_footer-component {
        width: inherit;
        height: 64px;
        padding: 12px;
        gap: 8px;
      }
      .logo-BYCN {
      }
    }
  }
}
.mas-navigation-drawer.mas-navigation-drawer--collapsed {
}
